<div style="display: flex; margin-bottom: 20px;">
  <mat-icon title="Grid View"
            class="view-switch material-symbols-outlined"
            [class.active]="viewType==='grid-view'"
            (click)="viewType='grid-view'">
    grid_view
  </mat-icon>
  <mat-icon title="List View"
            class="view-switch material-symbols-outlined"
            [class.active]="viewType==='list-view'"
            (click)="viewType='list-view'">
    list
  </mat-icon>
</div>
<ng-container [ngSwitch]="viewType">
  <app-project-grid-view *ngSwitchCase="'grid-view'"
                 [projects]="projects"
                 (onCreateProject)="onCreateProject()"
                 (onDeleteProject)="deleteProject($event)"
                 (onEditProject)="editProject($event)"
                 (onArchiveProject)="archiveProject($event.project, $event.archive)"
                 (onProjectSelected)="selectProject($event)">
  </app-project-grid-view>
  <app-project-list-view *ngSwitchCase="'list-view'"
                 [projects]="projects"
                 (onCreateProject)="onCreateProject()"
                 (onDeleteProject)="deleteProject($event)"
                 (onEditProject)="editProject($event)"
                 (onArchiveProject)="archiveProject($event.project, $event.archive)"
                 (onProjectSelected)="selectProject($event)">
  </app-project-list-view>
</ng-container>

<ng-template #deleteProjectTemplate>
  <p>Do you really want to delete the project?</p>
  <p>Warning: Only the project, its scenarios and parameters will be deleted. All possibly generated data will remain. </p>
</ng-template>
