<div class="load-overlay" *ngIf="isLoading$ | async">
  <mat-spinner [diameter]="50"></mat-spinner>
</div>
<div style="width: calc(100% - 100px)">
  <div style="display: flex;">
    <mat-button-toggle-group style="height: 40px; align-items: center; align-self: center"
                             [value]="viewType"
                             (change)="changeView($event.value)">
      <mat-button-toggle value="grid-view">
        Grid
        <mat-icon style="margin-left: 10px;">grid_view</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="list-view">
        List
        <mat-icon style="margin-left: 10px;">list</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <div style="display: flex; margin-left: auto; align-items: center;">
      <mat-form-field style="margin-bottom: -20px;">
        <mat-label>Sort by</mat-label>
        <mat-select [value]="sortAttr" (selectionChange)="this.sortAttr = $event.value || 'name'; sortProjects();">
          <mat-option value="name">Name</mat-option>
          <mat-option value="code">Code</mat-option>
          <mat-option value="date">Date</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-mini-fab
              color="accent"
              class="flat"
              [title]="'sort order: ' + (sortAscending? 'ascending': 'descending')"
              (click)="sortAscending = !sortAscending; sortProjects();"
              style="margin-left: 5px;">
        <mat-icon>{{sortAscending ? 'arrow_upward' : 'arrow_downward'}}</mat-icon>
      </button>
    </div>
  </div>
  <ng-container [ngSwitch]="viewType">
    <app-project-grid-view *ngSwitchCase="'grid-view'"
                           [projects]="projects"
                           (onCreateProject)="onCreateProject()"
                           (onDeleteProject)="deleteProject($event)"
                           (onEditProject)="editProject($event)"
                           (onArchiveProject)="archiveProject($event.project, $event.archive)"
                           (onProjectSelected)="selectProject($event)">
    </app-project-grid-view>
    <app-project-list-view *ngSwitchCase="'list-view'"
                           [projects]="projects"
                           (onCreateProject)="onCreateProject()"
                           (onDeleteProject)="deleteProject($event)"
                           (onEditProject)="editProject($event)"
                           (onArchiveProject)="archiveProject($event.project, $event.archive)"
                           (onProjectSelected)="selectProject($event)">
    </app-project-list-view>
  </ng-container>
</div>
<button mat-button *ngIf="settings.activeProject$ | async"
        class="next"
        routerLink="/scenarios">
  Next
  <mat-icon iconPositionEnd>arrow_right</mat-icon>
</button>

<ng-template #deleteProjectTemplate>
  <p>Do you really want to delete the project?</p>
  <p>Warning: Only the project, its scenarios and parameters will be deleted. All possibly generated data will remain. </p>
</ng-template>
