<div class="load-overlay" *ngIf="isLoading$ | async">
  <mat-spinner [diameter]="50"></mat-spinner>
</div>
<div style="width: calc(100% - 132px); padding: 0 16px;">
  <div style="display: flex;">
    <h1 style="margin: 16px 15px 16px 0;">Projects</h1>
    <mat-button-toggle-group style="height: 40px; align-items: center; align-self: center;"
                             [value]="viewType"
                             (change)="changeView($event.value)">
      <mat-button-toggle value="grid-view">
        Grid
        <mat-icon style="margin-left: 10px;">grid_view</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="list-view">
        List
        <mat-icon style="margin-left: 10px;">list</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <div style="display: flex; margin-left: auto; align-items: center;">
      <mat-button-toggle style="margin-right: 10px;"
                         (click)="showFilters = !showFilters">
        Filter Options
        <ng-container *ngIf="(filterByCodes || filterByUsers || filterByDate || filterArchive) else noFilter" >
          <mat-icon color="accent">filter_alt</mat-icon>
        </ng-container>
        <ng-template #noFilter>
          <mat-icon style="color: grey;">filter_alt</mat-icon>
        </ng-template>
      </mat-button-toggle>
      <mat-form-field style="margin-bottom: -20px;">
        <mat-label>Sort by</mat-label>
        <mat-select [value]="sortAttr" (selectionChange)="this.sortAttr = $event.value || 'name'; sortProjects();">
          <mat-option value="name">Name</mat-option>
          <mat-option value="code">Code</mat-option>
          <mat-option value="date">Date</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-mini-fab
              color="accent"
              class="flat micro"
              [title]="'sort order: ' + (sortAscending? 'ascending': 'descending')"
              (click)="sortAscending = !sortAscending; sortProjects();"
              style="margin-left: 5px;">
        <mat-icon>{{sortAscending ? 'arrow_upward' : 'arrow_downward'}}</mat-icon>
      </button>
    </div>
  </div>
  <div id="filter-view" [ngClass]="{'expanded': showFilters}">
    <div>
      <mat-checkbox [checked]="filterByUsers" (change)="filterByUsers = !filterByUsers; filter();"></mat-checkbox>
      <mat-form-field>
        <mat-label>Filter by Users</mat-label>
        <mat-select multiple [disabled]="!filterByUsers"
                    (selectionChange)="filterUsers = $event.value; filter();">
          <mat-option *ngFor="let user of settings.users"
                      [value]="user.id">
            {{settings.getUserName(user.id)}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox [checked]="filterByCodes" (change)="filterByCodes = !filterByCodes; filter();"></mat-checkbox>
      <mat-form-field>
        <mat-label>Filter by codes</mat-label>
        <mat-select multiple [disabled]="!filterByCodes"
                    (selectionChange)="filterCodes = $event.value; filter();">
          <mat-option *ngFor="let code of getUniqueValues(projects, 'code')"
                      [value]="code">
            {{code}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox [checked]="filterByDate"
                    (change)="filterByDate = !filterByDate; filter();"></mat-checkbox>
      <button mat-mini-fab
              color="accent"
              class="flat micro"
              [value]="filterDateOperator"
              [disabled]="!filterByDate"
              [title]="(filterDateOperator === '=')? 'at': (filterDateOperator === '>')? 'newer than': 'older than'"
              (click)="filterDateOperator = (filterDateOperator === '=')? '>' : (filterDateOperator === '>')? '<': '='; filter();"
              style="margin-right: 5px; font-size: 20px; font-weight: bold;">
        {{filterDateOperator}}
      </button>
      <mat-form-field>
        <mat-label>Filter by date</mat-label>
        <input matInput [disabled]="!filterByDate"
               [matDatepicker]="picker"
               [(ngModel)]="filterDate"
               (ngModelChange)="filter()">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-checkbox [checked]="filterArchive"
                    (change)="filterArchive = !filterArchive; filter();">
        Archive
      </mat-checkbox>
    </div>
  </div>
  <ng-container [ngSwitch]="viewType">
    <app-project-grid-view *ngSwitchCase="'grid-view'"
                           [projects]="filteredProjects"
                           (onCreateProject)="onCreateProject()"
                           (onDeleteProject)="deleteProject($event)"
                           (onEditProject)="editProject($event)"
                           (onArchiveProject)="archiveProject($event.project, $event.archive)"
                           (onProjectSelected)="selectProject($event)">
    </app-project-grid-view>
    <app-project-list-view *ngSwitchCase="'list-view'"
                           [projects]="filteredProjects"
                           (onCreateProject)="onCreateProject()"
                           (onDeleteProject)="deleteProject($event)"
                           (onEditProject)="editProject($event)"
                           (onArchiveProject)="archiveProject($event.project, $event.archive)"
                           (onProjectSelected)="selectProject($event)">
    </app-project-list-view>
  </ng-container>
</div>
<button mat-button *ngIf="settings.activeProject$ | async"
        class="next"
        routerLink="/scenarios">
  Next
  <mat-icon iconPositionEnd>arrow_right</mat-icon>
</button>
<div class="background" *ngIf="settings.siteSettings?.projects_background_img"
     style="background-image: url('{{settings.siteSettings?.projects_background_img}}');"></div>

<ng-template #deleteProjectTemplate>
  <p>Do you really want to delete the project?</p>
  <p>Warning: Only the project, its scenarios and parameters will be deleted. All possibly generated data will remain. </p>
</ng-template>
