{% extends "orcaserver/base.html" %}

{% block content %}
    {% if validlink %}
        <p>Bitte geben Sie ein neues Passwort an.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Neues Passwort:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Passwort bestätigen:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Passwort ändern" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Zurücksetzen gescheitert</h1>
        <p>Der Link war ungültig, möglicherweise wurde er bereits genutzt. Bitte fordern Sie einen neuen Link an.</p>
    {% endif %}
{% endblock %}