<div class="load-overlay" *ngIf="isLoading$ | async">
  <mat-spinner [diameter]="50"></mat-spinner>
</div>
<div class="background" *ngIf="settings.siteSettings?.scenarios_background_img" style="background-image: url('{{settings.siteSettings?.scenarios_background_img}}');"></div>
<div style="width: calc(100% - 132px); padding: 0 16px;">
  <div style="display: flex;">
    <h2 style="margin-right: 15px;">Scenarios</h2>
    <mat-button-toggle-group style="height: 40px; align-items: center; align-self: center"
                             [value]="viewType"
                             (change)="changeView($event.value)">
      <mat-button-toggle value="grid-view">
        Grid
        <mat-icon style="margin-left: 10px;">grid_view</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="list-view">
        List
        <mat-icon style="margin-left: 10px;">list</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <ng-container [ngSwitch]="viewType">
    <app-scenario-grid-view *ngSwitchCase="'grid-view'"
                            [scenarios]="scenarios"
                            (onCreateScenario)="onCreateScenario()"
                            (onDeleteScenario)="deleteScenario($event)"
                            (onEditScenario)="editScenario($event)"
                            (onScenarioSelected)="selectScenario($event)">
    </app-scenario-grid-view>
    <app-scenario-list-view *ngSwitchCase="'list-view'"
                            [scenarios]="scenarios"
                            (onCreateScenario)="onCreateScenario()"
                            (onDeleteScenario)="deleteScenario($event)"
                            (onEditScenario)="editScenario($event)"
                            (onScenarioSelected)="selectScenario($event)">
    </app-scenario-list-view>
  </ng-container>
</div>
<button mat-button *ngIf="settings.activeScenario$ | async"
        class="next"
        routerLink="/injectables">
  Next
  <mat-icon iconPositionEnd>arrow_right</mat-icon>
</button>

<ng-template #deleteScenarioTemplate>
  <p>Do you really want to delete the scenario?</p>
  <p>Warning: Only the scenario and its parameters will be deleted. All possibly generated data will remain. </p>
</ng-template>
