<div class="load-overlay" *ngIf="isLoading$ | async">
  <mat-spinner [diameter]="50"></mat-spinner>
</div>
<div class="background" *ngIf="settings.user$.value?.profile?.show_backgrounds && settings.siteSettings?.scenarios_background_img" style="background-image: url('{{settings.siteSettings?.scenarios_background_img}}');"></div>
<div class="page-content">
  <div style="display: flex;">
    <h1 style="margin: 16px 15px 16px 0;" i18n>Scenarios</h1>
    <mat-button-toggle-group style="height: 40px; align-items: center; align-self: center"
                             [value]="viewType"
                             (change)="changeView($event.value)">
      <mat-button-toggle value="grid-view">
        <ng-container i18n>Grid</ng-container>
        <mat-icon style="margin-left: 10px;">grid_view</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="list-view">
        <ng-container i18n>List</ng-container>
        <mat-icon style="margin-left: 10px;">list</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div id="scenario-view-wrapper">
    <div id="scenario-view">
      <ng-container [ngSwitch]="viewType">
        <app-scenario-grid-view *ngSwitchCase="'grid-view'"
                                [scenarios]="scenarios"
                                (onCreateScenario)="onCreateScenario()"
                                (onDeleteScenario)="deleteScenario($event)"
                                (onEditScenario)="editScenario($event)"
                                (onScenarioSelected)="selectScenario($event)">
        </app-scenario-grid-view>
        <app-scenario-list-view *ngSwitchCase="'list-view'"
                                [scenarios]="scenarios"
                                (onCreateScenario)="onCreateScenario()"
                                (onDeleteScenario)="deleteScenario($event)"
                                (onEditScenario)="editScenario($event)"
                                (onScenarioSelected)="selectScenario($event)">
        </app-scenario-list-view>
      </ng-container>
    </div>
  </div>
</div>
<button *ngIf="settings.activeScenario$ | async"
        mat-icon-button
        class="next"
        routerLink="/injectables"
        i18n-title title="next page">
  <mat-icon>navigate_next</mat-icon>
</button>

<ng-template #deleteScenarioTemplate>
  <p i18n>Do you really want to delete the scenario?</p>
  <p i18n>Warning: Only the scenario and its parameters will be deleted. All possibly generated data will remain. </p>
</ng-template>
