<div class="card-grid">
  <mat-card id="new-grid-card"
            class="grid-preview-card"
            title="Create new Scenario"
            i18n-title
            (click)="onCreateScenario.emit(true)">
    <mat-card-header>
      <mat-card-title i18n>New Scenario</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-icon class="material-symbols-outlined">
        add
      </mat-icon>
    </mat-card-content>
  </mat-card>
  <div fxLayout="row wrap"
       fxLayoutAlign="start start"
       fxLayoutGap="20px 20px grid">
    <div *ngFor="let scenario of scenarios">
      <mat-card class="grid-preview-card"
                [matTooltip]="scenario.name + '\n\n' + scenario.description"
                matTooltipClass="multiLineTooltip"
                matTooltipPosition="right"
                [ngClass]="{'selected': settings.activeScenario$.value?.id === scenario.id}">
        <mat-card-header style="cursor: pointer"
                         (click)="onScenarioSelected.emit(scenario)">
          <mat-card-title [title]="scenario.name">{{scenario.name}}</mat-card-title>
          <app-scenario-status-preview [scenario]="scenario" style="margin-left: auto;"></app-scenario-status-preview>
        </mat-card-header>
        <mat-card-content style="cursor: pointer" (click)="onScenarioSelected.emit(scenario)">
          <ng-container *ngIf="scenario.is_running else notRunningCard">
            <p>
              <ng-container i18n>Started at</ng-container>: <br>
              {{settings.activeScenario$.value?.last_run?.started}}
            </p>
          </ng-container>
          <ng-template #notRunningCard>
            <p *ngIf="scenario.last_run?.finished">
              <ng-container i18n>Last Run finished</ng-container>: <br>
              <i [style.color]="scenario.last_run?.success? 'green': 'red'">{{scenario.last_run?.finished}}</i>
            </p>
          </ng-template>
          <p>
            {{scenario.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="onEditScenario.emit(scenario)" i18n>EDIT</button>
          <button mat-button (click)="onDeleteScenario.emit(scenario)" i18n>DELETE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
