django==4.*
django-cors-headers==3.*
orca
psycopg2
channels==4.*
channels_redis
channels[daphne]
pandas
xarray
django-flat-json-widget
djangorestframework
djangorestframework-simplejwt
drf-nested-routers
Pillow