<ng-container [ngSwitch]="type">
  <ng-container *ngSwitchDefault>
    <mat-form-field>
      <mat-label>Value (String)</mat-label>
      <input type="text" [value]="$any(value)" matInput
             (change)="valueChanged.emit($event.target?.value)">
    </mat-form-field>
  </ng-container>
  <ng-container *ngSwitchCase="'int'">
    <mat-form-field>
      <mat-label>Value (Integer)</mat-label>
      <input type="number" [step]="step" [value]="$any(value)" matInput
             (change)="valueChanged.emit($event.target?.value)">
    </mat-form-field>
  </ng-container>
  <ng-container *ngSwitchCase="'float'">
    <mat-form-field>
      <mat-label>Value (Float)</mat-label>
      <input type="number" [step]="step" [value]="$any(value)" matInput
             (change)="valueChanged.emit($event.target?.value)">
    </mat-form-field>
  </ng-container>
  <ng-container *ngSwitchCase="'bool'">
    no
    <mat-slide-toggle color="primary"
                      [checked]="$any(value)"
                      (change)="valueChanged.emit($event.checked)">
    </mat-slide-toggle>
    yes
  </ng-container>
  <ng-container *ngSwitchCase="'choice'">
    <mat-form-field>
      <mat-label>Select one</mat-label>
      <mat-select [value]="value" (change)="valueChanged.emit($event.target?.value)">
        <mat-option *ngFor="let choice of choices; let i = index" [value]="choice">
          {{choice}} <ng-container *ngIf="choiceLabels && choiceLabels[i]">({{choiceLabels[i]}})</ng-container>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>
</ng-container>
