<ng-container *ngIf="edit; else preview;" [ngSwitch]="type">
  <ng-container *ngSwitchCase="'int'">
    <mat-form-field>
      <mat-label i18n>Value (Integer)</mat-label>
      <input type="number" [step]="step" [value]="$any(value)" matInput
             (change)="valueChanged.emit($event.target?.value)">
    </mat-form-field>
  </ng-container>
  <ng-container *ngSwitchCase="'float'">
    <mat-form-field>
      <mat-label i18n>Value (Float)</mat-label>
      <input type="number" [step]="step" [value]="$any(value)" matInput
             (change)="valueChanged.emit($event.target?.value)">
    </mat-form-field>
  </ng-container>
  <ng-container *ngSwitchCase="'bool'">
    <div style="display: flex;">
      <div style="padding: 0 10px" i18n>no</div>
      <mat-slide-toggle color="primary"
                        [checked]="toBool(value)"
                        (change)="valueChanged.emit($event.checked)">
      </mat-slide-toggle>
      <div style="padding: 0 10px" i18n>yes</div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'choice'">
    <mat-form-field>
      <mat-label i18n>Select one</mat-label>
      <mat-select [value]="value" (change)="valueChanged.emit($event.target?.value)">
        <mat-option *ngFor="let choice of choices; let i = index" [value]="choice">
          {{choice}} <ng-container *ngIf="choiceLabels && choiceLabels[i]">({{choiceLabels[i]}})</ng-container>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <mat-form-field style="width: 100%;">
      <mat-label i18n>Value (String)</mat-label>
      <input type="text" [value]="$any(value)" matInput
             (change)="valueChanged.emit($event.target?.value)">
    </mat-form-field>
  </ng-container>
</ng-container>
<ng-template #preview>
  {{value}}
</ng-template>
