<button color="primary" style="margin-bottom: 5px;"
        mat-flat-button (click)="onCreateProject.emit(true)">
  + <ng-container i18n>NEW PROJECT</ng-container>
</button>
<table *ngIf="projects.length > 0" class="striped">
  <thead>
    <tr>
      <th i18n>Name</th>
      <th i18n>Code</th>
      <th i18n>Created</th>
      <th i18n>User</th>
      <th i18n>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projects"
        (click)="onProjectSelected.emit(project)"
        [ngClass]="{'selected': settings.activeProject$.value?.id === project.id}">
      <td> {{ project.name }} </td>
      <td> {{ project.code }} </td>
      <td> {{ project.created }} </td>
      <td> {{ settings.getUserName(project.user) }} </td>
      <td> {{ project.description }} </td>
      <td style="white-space: nowrap; color: #5c5c5c;">
        <button mat-icon-button class="micro"
                (click)="onEditProject.emit(project); $event.stopPropagation()"
                style="margin-right: 10px;"
                i18n-title title="edit project">
          <mat-icon class="material-icons-outlined">edit</mat-icon>
        </button>
        <button mat-icon-button class="micro"
                *ngIf="!project.archived"
                (click)="onArchiveProject.emit({ project: project, archive: true}); $event.stopPropagation()"
                i18n-title title="archive project">
          <mat-icon class="material-icons-outlined">archive</mat-icon>
        </button>
        <button mat-icon-button class="micro"
                *ngIf="project.archived"
                (click)="onArchiveProject.emit({ project: project, archive: false}); $event.stopPropagation()"
                i18n-title title="move project out of archive">
          <mat-icon class="material-icons-outlined">unarchive</mat-icon>
        </button>
        <button mat-icon-button class="micro"
                (click)="onDeleteProject.emit(project); $event.stopPropagation()" i18n-title title="remove project">
          <mat-icon class="material-icons-outlined">delete_forever</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
