<h4 mat-dialog-title>Injectable "{{injectable.name}}" </h4>
<button color="primary"
        mat-icon-button
        mat-dialog-close
        title="Close"
        id="close-button">
  <mat-icon>close</mat-icon>
</button>
<mat-dialog-content>
  <div class="load-overlay" *ngIf="isLoading$ | async">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
  <div *ngIf="errors" style="max-width: 400px;">
    <mat-error *ngFor="let error of errors | keyvalue" class="alert">
      <ng-container *ngIf="error.key" >{{ error.key }}:</ng-container> {{ error.value }}
    </mat-error>
  </div>
  <p [innerHTML]="injectable.description"></p>
  <injectable [injectable]="injectable"
              [edit]="true"
              (valueChanged)="this.value = $event"></injectable>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button
          color="primary"
          mat-dialog-close
          style="margin-right: 20px;">
    Cancel
  </button>
  <button mat-button
          *ngIf="defaultValue != undefined"
          color="primary"
          (click)="resetToDefault()">
    Reset to default
  </button>
  <button mat-button
          color="primary"
          (click)="onConfirmClick()">
    Confirm
  </button>
</mat-dialog-actions>

