<h4 mat-dialog-title>Injectable "{{injectable.name}}" </h4>
<button color="primary"
        mat-icon-button
        mat-dialog-close
        title="Close"
        id="close-button">
  <mat-icon>close</mat-icon>
</button>
<mat-dialog-content>
  <p [innerHTML]="injectable.description"></p>
  <ng-container [ngSwitch]="injectable.datatype">
    <mat-form-field *ngSwitchCase="'str'">
      <mat-label>Value (String)</mat-label>
      <input matInput [(ngModel)]="value">
    </mat-form-field>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button class="mat-button-dv"
          color="primary"
          mat-dialog-close
          style="margin-right: 20px;">
    Cancel
  </button>
  <button mat-button class="mat-button-dv"
          color="primary"
          (click)="onConfirmClick()">
    Confirm
  </button>
</mat-dialog-actions>

