<h4 *ngIf="data.title" mat-dialog-title>{{ data.title }}</h4>
<button color="primary"
        mat-icon-button
        mat-dialog-close
        title="Close"
        id="close-button">
  <mat-icon>close</mat-icon>
</button>
<mat-dialog-content>
  <div class="loadOverlay" *ngIf="isLoading$ | async">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
  <div *ngIf="errors">
    <mat-error *ngFor="let error of errors | keyvalue" class="alert">
      {{ error.key }}: {{ error.value }}
    </mat-error>
  </div>

  <form [formGroup]="projectForm">
    <div fxLayout="column">
      <mat-form-field appearance="fill">
        <mat-label>Name of the Project</mat-label>
        <input matInput formControlName="name" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Code</mat-label>
        <input matInput formControlName="code">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" rows="5"></textarea>
      </mat-form-field>
    </div>
    <mat-form-field class="small" appearance="outline" style="margin-right: 20px;">
      <mat-label>Owner</mat-label>
      <mat-select formControlName="user"
                  required>
        <mat-option [value]="-1">none</mat-option>
        <mat-option *ngFor="let user of settings.users"
                    [value]="user.id">
          {{user.username}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <h2>Injectables</h2>
  <p><i>The injectables act as defaults for newly created scenarios inside the project. They can be overriden in each scenario after creation independently.</i></p>
  <ng-container *ngFor="let inj of project?.injectables; let idx = index;">
    <b><u>{{inj.name}}</u></b>
    <p><i>{{inj.description}}</i></p>
    <injectable [injectable]="inj" [edit]="true" (valueChanged)="injectableChanged(idx, $event)"></injectable>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button
          color="primary"
          mat-dialog-close
          style="margin-right: 20px;">
    {{ data.cancelButtonText }}
  </button>
  <button mat-button
          color="primary"
          (click)="onConfirmClick()">
    {{ data.confirmButtonText }}
  </button>
</mat-dialog-actions>
