<mat-card id="new-grid-card"
          class="grid-preview-card"
          title="Create new Project"
          i18n-title
          (click)="onCreateProject.emit(true)">
  <mat-card-header>
    <mat-card-title i18n>New Project</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-icon class="material-symbols-outlined">
      add
    </mat-icon>
  </mat-card-content>
</mat-card>
<div class="card-grid">
  <div fxLayout="row wrap"
       fxLayoutAlign="start start"
       fxLayoutGap="20px 20px grid">
    <div *ngFor="let project of projects">
      <mat-card class="grid-preview-card"
                [ngClass]="{'selected': settings.activeProject$.value?.id === project.id}"
                [matTooltip]="project.name + '\n\n' + project.description"
                matTooltipClass="multiLineTooltip"
                matTooltipPosition="right"
                [style.border-bottom-color]="settings.getUser(project.user)?.profile?.color || 'grey'">
        <button *ngIf="settings.activeProject$.value?.id === project.id"
                mat-mini-fab
                color="primary"
                class="next"
                (click)="$event.stopPropagation();"
                i18n-title title="next page"
                routerLink="/scenarios">
          <mat-icon>arrow_forward</mat-icon>
        </button>
        <mat-card-header style="cursor: pointer"
                         (click)="onProjectSelected.emit(project)">
          <app-user-preview *ngIf="project.user"
                            [user]="settings.getUser(project.user)"
                            style="margin-left: auto;"></app-user-preview>
          <mat-card-title [title]="project.name">{{project.name}}</mat-card-title>
          <mat-card-subtitle [title]="project.code">{{project.code}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content style="cursor: pointer" (click)="onProjectSelected.emit(project)">
          <table>
            <tr *ngIf="project.created">
              <td i18n>created:</td>
              <td>{{project.created}}</td>
            </tr>
            <tr>
              <td i18n>scenarios:</td>
              <td>{{project.scenario_count}}</td>
            </tr>

          </table>
  <!--        <p>
            {{project.description}}
          </p>-->
          <injectable *ngIf="project.previewInjectable else projectDesc"
                      [injectable]="project.previewInjectable"></injectable>
          <ng-template #projectDesc>{{project.description}}</ng-template>
        </mat-card-content>
        <mat-card-actions style="display: block;">
          <div fxLayout="row" style="padding: 0 5px; color: #5c5c5c;">
            <button mat-icon-button class="micro"
                    (click)="onEditProject.emit(project)" i18n-title title="edit project">
              <mat-icon class="material-icons-outlined">edit</mat-icon>
            </button>
            <button mat-icon-button class="micro"
                    style="margin-left: auto;"
                    *ngIf="!project.archived"
                    (click)="onArchiveProject.emit({ project: project, archive: true})"
                    i18n-title title="archive project">
              <mat-icon class="material-icons-outlined">archive</mat-icon>
            </button>
            <button mat-icon-button class="micro"
                    style="margin-left: auto;"
                    *ngIf="project.archived"
                    (click)="onArchiveProject.emit({ project: project, archive: false})"
                    i18n-title title="move project out of archive">
              <mat-icon class="material-icons-outlined">unarchive</mat-icon>
            </button>
            <button mat-icon-button class="micro"
                    (click)="onDeleteProject.emit(project)" i18n-title title="remove project">
              <mat-icon class="material-icons-outlined">delete_forever</mat-icon>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
