<div class="card-grid"
     fxLayout="row wrap"
     fxLayoutAlign="start start"
     fxLayoutGap="20px 20px grid">
  <div>
    <mat-card id="new-grid-card"
              class="grid-preview-card"
              title="Create new Project"
              (click)="onCreateProject.emit(true)">
      <mat-card-header>
        <mat-card-title>New Project</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-icon class="material-symbols-outlined">
          add
        </mat-icon>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngFor="let project of projects">
    <mat-card class="grid-preview-card"
              [ngClass]="{'selected': settings.activeProject$.value?.id === project.id}"
              [style.border-bottom-color]="settings.user$.value?.profile?.color || 'grey'">
      <mat-card-header style="cursor: pointer"
                       (click)="onProjectSelected.emit(project)">
        <app-user-preview *ngIf="project.user"
                          [user]="settings.getUser(project.user)"
                          style="margin-left: auto;"></app-user-preview>
        <mat-card-title [title]="project.name">{{project.name}}</mat-card-title>
        <mat-card-subtitle [title]="project.code">{{project.code}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content style="cursor: pointer" (click)="onProjectSelected.emit(project)">
        <p [title]="project.module || 'no module'" style="overflow: hidden; text-overflow: ellipsis;">
          {{project.module || 'no module'}}
        </p>
        <p *ngIf="project.created">
          {{project.created}}
        </p>
        <p>
          {{project.description}}
        </p>
<!--        <injectable *ngIf="project"></injectable>-->
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="onEditProject.emit(project)">EDIT</button>
        <button mat-button (click)="onDeleteProject.emit(project)">DELETE</button>
        <button mat-button (click)="onArchiveProject.emit({ project: project, archive: !project.archived})">
          {{!project.archived? 'ARCHIVE': 'UNARCHIVE'}}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
