<div *ngFor="let key of keys; let i = index;">
  <mat-form-field>
    <mat-label>Key (String)</mat-label>
    <input #keyInput type="text" [value]="key" matInput
           (change)="onValueChanged($event.target.value, valueInput.value, i)">
  </mat-form-field>
  :&nbsp;
  <mat-form-field>
    <mat-label>Value (String)</mat-label>
    <input #valueInput type="text" [value]="values[i]" matInput
           (change)="onValueChanged(keyInput.value, $event.target.value, i)">
  </mat-form-field>
</div>
