#btn-grp{
  left: 0px;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

body {
  overflow-x: hidden;
}

.select tbody tr {
  cursor: pointer;
}

.help {
  max-width: 50em;
}

button > i, a > i{
  margin-right: 0.4em;
}

.table tbody tr:hover{
  background-color: snow !IMPORTANT;
}

.select tr.selected, .select tr.selected:hover {
  background-color: salmon !IMPORTANT;
  color: white;
}

.card-header{
  padding: .25em .5em;
}

.card-header:hover {
  background-color: snow;
}

#steps-available table{
  font-size: 12;
  width:100%;
  /*table-layout: fixed;*/
}

#steps-available tr:first-child > td{
  border-top: none;
}


#steps-available button{
  font-size: 14 !IMPORTANT;
}

#steps-available button:focus{
  box-shadow: none !IMPORTANT;
}

.panel-title::after {
  content: "\f105";
  color: #333;
  font-family: "FontAwesome";
  font-weight: bold;
  font-size: 1.2em !IMPORTANT;
  float: right;
}

.panel-title[aria-expanded="true"]::after {
  content: "\f107";
}

#injectables{
  font-size: 12;
}

.navbar-nav .nav-link.active {
  font-size: 18;
  font-weight: bold;
  color: salmon !IMPORTANT;
  margin-top: -0.1em;
}

.navbar {
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 26%);
  z-index: 100;
  pointer-events: auto;
}

.navbar-wrapper {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0px;
  pointer-events: none;
}

.navbar-brand {
  font-family: 'Comic Neue', cursive;
  color: #d60000 !IMPORTANT;
  border-right: solid darkgrey 1px;
  padding-right: 1em;
  padding-left: 0.5em;
  /*border-radius: 5px;*/
}

.navbar .fa {
  margin-right: 5px;
}

.bottom-resizable{
  padding: 0 2em 0 2em;
  opacity: 0.9;
  position: fixed;
  bottom: 0; left: 0; right: 0;
  height: 246px;
  z-index: 2;
  background-color: #f8f9fa;
  /*background-color: rgb(248, 249, 250);*/
}

.bottom-resizable:after {
  content: " ";
  background-color: #ccc;
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  cursor: ns-resize;
}

.log {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  background-color: white;
  box-shadow: inset 0 0 5px #d5d5d5;
}

.log p {
  margin-bottom: 0;
}

#steps-scenario {
  user-select: none;
  border-collapse: separate;
  border-spacing: 0 1em;
  /*background-color: #fdfdfd;*/
}

#steps-scenario tr{
  background-color: white;
}

.step {
  background-image: linear-gradient(#f8f8f8, #fcfcfc 10%, #fcfcfc, #f3f3f3);
  margin-top: 1em;
}

.step:hover {
  background: #fafafa;
  background-image: linear-gradient(#f3f3f3, #f8f8f8, #f8f8f8);
}

.step td {
  border-top: 1px solid #f5f5f5;
  color: #505050;
}

.circle-number, .sunken {

    box-shadow: inset 0 2px #f0f0f0;
    background-color: white;
    /*background-color: #fefefe;*/
    /*border: 2px solid #505050;*/
    text-align: center;
    vertical-align: middle;
    /*font-weight: bold;*/
}

.sunken {
  padding: 0.2em 1em 0.4em 1em;
  border-radius: 0.5em;
}

.sunken a{
  color: #505050!IMPORTANT;
  text-decoration: underline;
}
.sunken a:hover{
  color: #007bff!IMPORTANT;
}

.step:hover .sunken {
  background-color: inherit;
}

.circle-number {
  /*background-color: #505050;*/
  /*color: white;*/
  /*border-radius: 1em;*/
  /*width: 2em;*/
  /*height: 2em;*/
  /*line-height: 1.9em;*/
  /*text-align: center;*/
  /*vertical-align: middle;    */
  border-radius: 1em;
  color: #505050;
  width: 2em;
  height: 2em;
  line-height: 1.9em;
}

.popover-header {
  background-color: salmon !IMPORTANT;
  color: white !IMPORTANT;
}

#project-settings {
  padding: 1em 3em 1em 1em;
  border-radius: 0 0 6em 0;
}

#project-settings > div:not(.module-meta) {
  display: flex;
  min-height: 2em;
}

#status-container{
  display: inline-block;
  float: right;
  padding: 0.5em 2.5em 0.5em 2em;
  background-color: #fafbfc;
  border-radius: 0 0 0 3em;
}

#project-settings, #status-container {
  display: inline-block;
  background-color: #fafbfc;
  box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 26%);
  pointer-events: auto;
}


.run-container{
  margin-top: -5em;
  margin-left: 2em;
  padding: 2em;
  padding-bottom: 4em;
  background: white;
  border-radius: 1em;
  box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 25%);
}

.log-dock{
  height: 246px;
  z-index: 2;
  background-color: rgb(248, 249, 250);
}


.module-meta {
  max-width: 0px;
  height: 0px;
  transition: height 0.5s, max-width 1s, opacity 0.1s;
  opacity: 0;
  pointer-events: none;
}

.navbar-wrapper:hover .module-meta{
  opacity: 1;
  width: auto;
  transition: height 0.5s, max-width 1s, opacity 2s;
  max-width: 30em;
  height: 2em;
  pointer-events: auto;
}