#btn-grp{
  left: 0px;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

/*.select th, .select td {*/
  /*border: 1px solid black;*/
/*}*/

.select tr {
  cursor: pointer;
}

.help {
  max-width: 50em;
}

button > i, a > i{
  margin-right: 0.4em;
}

.select tr.selected {
  background-color: #87c1ff !IMPORTANT;
  color: white;
}

#steps-available{
  font-size: 12;
}

#injectables{
  font-size: 12;
}

.navbar-nav .nav-link.active {
  font-size: 18;
  font-weight: bold;
  color: #007bff !IMPORTANT;
  margin-top: -0.1em;
}

.navbar {
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 26%);
}

.navbar-brand {
  font-family: 'Comic Neue', cursive;
  color: #d60000 !IMPORTANT;
  border-right: solid darkgrey 1px;
  padding-right: 1em;
  padding-left: 0.5em;
  /*border-radius: 5px;*/
}

.navbar .fa {
  margin-right: 5px;
}

.bottom-resizable{
  padding: 0 2em 0 2em;
  position: fixed;
  bottom: 0; left: 0; right: 0;
  background-color: white;
}

.bottom-resizable:after {
  content: " ";
  background-color: #ccc;
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  cursor: ns-resize;
}

.log {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  background-color: #fafafa;
  box-shadow: inset 0 0 5px #d5d5d5;
}

.log p {
  margin-bottom: 0;
}

#steps-scenario {
  user-select: none;
  border-collapse: separate;
  border-spacing: 0 1em;
  /*background-color: #fdfdfd;*/
}

#steps-scenario tr{
  background-color: white;
}

.step {
  background-image: linear-gradient(white, white, #f8f8f8);
  margin-top: 1em;
}

.step:hover {
  background: #fafafa;
  background-image: linear-gradient(#f0f0f0, #f8f8f8, #f8f8f8);
}

.step td {
  border-top: 1px solid #f7f7f7;
}

.circle-number {
    /*background-color: #505050;*/
    /*color: white;*/
    /*border-radius: 1em;*/
    /*width: 2em;*/
    /*height: 2em;*/
    /*line-height: 1.9em;*/
    /*text-align: center;*/
    /*vertical-align: middle;    */

    box-shadow: inset 0 3px #f3f3f3;
    background-color: #fafafa;
    color: #505050;
    border-radius: 1em;
    /*border: 2px solid #505050;*/
    width: 2em;
    height: 2em;
    line-height: 1.9em;
    text-align: center;
    vertical-align: middle;
    /*font-weight: bold;*/
}