#btn-grp{
  left: 0px;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

table, th, td {
  border: 1px solid black;
}

tr {
  cursor: pointer;
}

tr.selected {
  background-color: #87c1ff;
  color: white;
}

#steps-available{
  font-size: 12;
}

#injectables{
  font-size: 12;
}

.navbar-nav .nav-link.active {
  font-size: 18;
  font-weight: bold;
  color: #007bff !important;
}

.bottom-resizable{
  padding: 0 2em 0 2em;
  position: fixed;
  bottom: 0; left: 0; right: 0;
  background-color: white;
}

.bottom-resizable:after {
  content: " ";
  background-color: #ccc;
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  cursor: ns-resize;
}

.log {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  background-color: #fafafa;
  box-shadow: inset 0 0 5px #d5d5d5;
}

.log p {
  margin-bottom: 0;
}