#btn-grp{
  left: 0px;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

tr {
  cursor: pointer;
}

tr.selected {
  background-color: #87c1ff;
  color: white;
}

#steps-available{
  font-size: 12;
}

