#steps-available{
  min-width: 200px;
  min-height: 500px;
  resize: both;
}

#steps-scenario{
  min-width: 400px;
  min-height: 100px;
  border: 1px solid grey;
}

#btn-grp{
  left: 0px;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

tr {
  cursor: pointer;
}

tr.selected {
  background-color: #007bff;
  color: white;
}
