<ng-container *ngIf="_injectable">
  <ng-container *ngIf="_injectable.choices">
    <multiple-choice *ngIf="_injectable.multi" [choices]="choiceValues!"
                     [choiceLabels]="choiceLabels!"
                     [values]="_injectable.value"
                     [edit]="edit"
                     (valueChanged)="valueChanged.emit($event)">
    </multiple-choice>
    <single-choice *ngIf="!_injectable.multi"
                   [choices]="choiceValues!"
                   [choiceLabels]="choiceLabels!"
                   [value]="_injectable.value"
                   [edit]="edit"
                   (valueChanged)="valueChanged.emit($event)">
    </single-choice>
  </ng-container>
  <ng-container *ngIf="!_injectable.choices" [ngSwitch]="_injectable.datatype">
    <ng-container *ngSwitchCase="'dict'">
      <inj-dict [value]="_injectable.value"
                [edit]="edit"
                [keysEditable]="_injectable.editable_keys || false"
                (valueChanged)="valueChanged.emit($event)"></inj-dict>
    </ng-container>
    <ng-container *ngSwitchCase="'geometry'">
      <inj-geometry [wkt]="_injectable.value"
                    [edit]="edit"
                    [height]="height"
                    (valueChanged)="valueChanged.emit($event)"></inj-geometry>
    </ng-container>
    <ng-container *ngSwitchCase="'date'">
      <inj-date [value]="_injectable.value"
                [edit]="edit"
                (valueChanged)="valueChanged.emit($event)"></inj-date>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <div [style.display]="(_injectable.multi && !edit)? 'flex': 'block'">
        <ng-container *ngFor="let value of values; let idx = index; let last = last;">
          <div [style.display]="(_injectable.multi)? 'flex': 'block'" style="align-items: center;">
            <inj-base-type [value]="value"
                           [type]="_injectable.datatype"
                           [edit]="edit"
                           (valueChanged)="_injectable.multi? listValueChanged(idx, $event): valueChanged.emit($event)"></inj-base-type>

            <p *ngIf="edit && _injectable.regex_help">{{_injectable.regex_help}}</p>
            <div *ngIf="(_injectable.multi && edit) else listSeperator">
              <button mat-button color="secondary" (click)="removeListValue(idx)">- Remove</button>
            </div>
            <ng-template #listSeperator>
              <ng-container *ngIf="!last">,&nbsp;</ng-container>
            </ng-template>
          </div>
        </ng-container>
        <div *ngIf="_injectable.multi && edit">
          <button mat-button color="secondary" (click)="appendListValue()">+ Add</button>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>

