.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  //box-shadow: 0px 0px 5px 4px #a7a7a7;
  font-size: 24px;
  height: 64px;
}

.main-container {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
}

.app-container {
  padding: 10px;
}

.mat-toolbar {
  .link {
    margin-right: 20px;
    font-size: 20px;
  }
  .active-link {
    font-size: 26px;
  }
}

/*.mat-sidenav {
  width: 200px;
  height: 100%;
}*/

#module-select {
  margin-left: auto;
  margin-bottom: -1.25em;
}

