<div class="load-overlay" *ngIf="settings.isLoading$ | async">
  <mat-spinner [diameter]="50"></mat-spinner>
</div>
<mat-toolbar class="main-nav">
  <a class="navbar-brand" href="/">
    <img *ngIf="settings.siteSettings?.logo else noLogo" [src]="settings.siteSettings?.logo">
    <ng-template #noLogo>{{settings.siteSettings?.title}}</ng-template>
  </a>
  <span class="page-links" fxShow="true" fxHide.lt-md="true">
    <a *ngIf="settings.user$ | async"
       class="link"
       title="projects"
       routerLink="/projects"
       routerLinkActive="active-link"
       [routerLinkActiveOptions]="{exact: false}">
      Projects
    </a>
    <ng-container *ngIf="settings.activeProject$ | async">
      <mat-icon iconPositionEnd>arrow_right</mat-icon>
      <a *ngIf="settings.activeProject$ | async"
         class="link"
         title="scenarios"
         routerLink="/scenarios"
         routerLinkActive="active-link"
         [routerLinkActiveOptions]="{exact: false}">
        Scenarios
      </a>
    </ng-container>
    <ng-container *ngIf="settings.activeScenario$ | async">
      <mat-icon iconPositionEnd>arrow_right</mat-icon>
      <a *ngIf="settings.activeScenario$ | async"
         class="link"
         title="injectables"
         routerLink="/injectables"
         routerLinkActive="active-link"
         [routerLinkActiveOptions]="{exact: false}">
        Injectables
      </a>
    </ng-container>
    <ng-container *ngIf="settings.activeScenario$ | async">
      <mat-icon iconPositionEnd>arrow_right</mat-icon>
      <a class="link"
         title="steps and run"
         routerLink="/steps"
         routerLinkActive="active-link"
         [routerLinkActiveOptions]="{exact: false}">
        Steps & Run
      </a>
    </ng-container>
  </span>
  <button mat-button id="userButton" [matMenuTriggerFor]="userMenu">
    <div style="display: flex; height: 45px;">
      <span style="line-height: 44px; margin-right: 10px;">
        {{(settings.user$ | async)?.username || 'not logged in'}}
      </span>
      <app-user-preview *ngIf="settings.user$ | async" [user]="settings.user$ | async"></app-user-preview>
    </div>
  </button>
  <mat-menu #userMenu>
    <ng-container *ngIf="(settings.user$ | async) else login">
      <a mat-menu-item
         *ngIf="(settings.user$ | async)?.is_superuser"
         [href]="settings.host + '/admin/'" target="_blank">
        Django Admin
      </a>
      <a mat-menu-item
         routerLink="/profile">
        Profile
      </a>
      <a mat-menu-item
         (click)="auth.logout()" href="">
        Logout
      </a>
    </ng-container>
    <ng-template #login>
      <a mat-menu-item routerLink="/login">Login</a>
    </ng-template>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="main-container">
<!--  ToDo: replace hiding side nav based on router url by introducing a parent component for these routes that contains the side nav-->
  <mat-sidenav class="sidenav" mode="side" opened
               *ngIf=" (settings.user$ | async) && (router.url === '/steps' || router.url === '/scenarios' || router.url === '/projects' || router.url === '/injectables')">
    <mat-form-field id="module-select">
      <mat-label>Module</mat-label>
      <mat-select (selectionChange)="settings.setModule($event.value)" [value]="settings.module$.value?.name">
        <mat-option *ngFor="let module of settings.modules"
                    [value]="module.name"
                    [matTooltip]="module.description"
                    matTooltipPosition="right">
          {{module.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="settings.module$.value?.info_html" style="padding: 5px;">
      <button mat-button
              style="background-color: #fafafa; width: 100%;"
              [matMenuTriggerFor]="moduleInfo">
        <mat-icon>info</mat-icon>
        Module Info
      </button>
      <mat-menu #moduleInfo>
        <div style="padding: 10px;">
          <p>{{settings.module$.value?.description}}</p>
          <p [innerHTML]="settings.module$.value?.info_html"></p>
        </div>
      </mat-menu>
    </div>
<!--    <p style="color: white; margin-left: 10px;">Project</p>-->
    <mat-card id="active-project"
              routerLink="/projects"
              routerLinkActive="active-link"
              [matTooltip]="(settings.activeProject$ | async)?.description"
              matTooltipPosition="right"
              [style.border-bottom-color]="settings.getUser(settings.activeProject$.value?.user)?.profile?.color || 'grey'"
              [routerLinkActiveOptions]="{exact: false}">
      <ng-container *ngIf="settings.activeProject$ | async; else noProject">
        <mat-card-header>
          <app-user-preview *ngIf="settings.activeProject$.value?.user"
                            [user]="settings.getUser(settings.activeProject$.value!.user)"
                            [size]="20"
                            borderWidth="1px"
                            style="margin-left: auto;"></app-user-preview>
          <mat-card-title [title]="settings.activeProject$.value?.name">
            {{settings.activeProject$.value?.name}}
          </mat-card-title>
          <mat-card-subtitle [title]="settings.activeProject$.value?.code">{{settings.activeProject$.value?.code}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
<!--          <p>{{settings.activeProject$.value?.description}}</p>-->
          <injectable *ngIf="settings.activeProject$.value?.previewInjectable"
                      [injectable]="settings.activeProject$.value!.previewInjectable"
                      height="120px"
                      (click)="$event.stopPropagation()"></injectable>
        </mat-card-content>
      </ng-container>
      <ng-template #noProject>
        <mat-card-content>no project selected</mat-card-content>
      </ng-template>
    </mat-card>
    <ng-container *ngIf="settings.activeProject$ | async">
<!--      <p style="color: white; margin-left: 10px;">Scenario</p>-->
      <mat-card id="active-scenario"
                routerLink="/scenarios"
                routerLinkActive="active-link"
                class="grid-preview-card"
                [matTooltip]="(settings.activeScenario$ | async)?.description"
                matTooltipPosition="right"
                [routerLinkActiveOptions]="{exact: false}">
        <ng-container *ngIf="settings.activeScenario$ | async; else noScenario">
          <mat-card-header>
            <mat-card-title>
<!--              Scenario <br>-->
              {{settings.activeScenario$.value?.name}}
            </mat-card-title>
            <app-scenario-status-preview [scenario]="settings.activeScenario$.value" style="margin-left: auto;"></app-scenario-status-preview>
          </mat-card-header>
          <mat-card-content>
<!--            <i>{{settings.activeScenario$.value?.description}}</i>-->
            <ng-container *ngIf="settings.activeScenario$.value?.is_running else notRunningCard">
              <p>
                Started at: <br>
                {{settings.activeScenario$.value?.last_run?.started}}
              </p>
            </ng-container>
            <ng-template #notRunningCard>
              <p *ngIf="settings.activeScenario$.value?.last_run?.finished">
                Last Run finished: <br>
                <i [style.color]="settings.activeScenario$.value?.last_run?.success? 'green': 'red'">{{settings.activeScenario$.value?.last_run?.finished}}</i>
              </p>
            </ng-template>
          </mat-card-content>
        </ng-container>
        <ng-template #noScenario>
          <mat-card-content>no scenario selected</mat-card-content>
        </ng-template>
      </mat-card>
<!--      -->
      <a id="scenario-status"
         *ngIf="settings.activeScenario$.value"
         routerLink="/steps">
        <ng-container *ngIf="settings.activeScenario$.value?.is_running else notRunning">
          <img *ngIf="settings.siteSettings?.scenario_running_img else runSpinner" [src]="settings.siteSettings?.scenario_running_img">
          <ng-template #runSpinner>
            <mat-spinner [diameter]="150"></mat-spinner>
          </ng-template>
        </ng-container>
        <ng-template #notRunning>
          <img *ngIf="settings.activeScenario$.value?.last_run?.finished && settings.activeScenario$.value?.last_run?.success"
               [src]="settings.siteSettings?.scenario_success_img">
          <img *ngIf="settings.activeScenario$.value?.last_run?.finished && !settings.activeScenario$.value?.last_run?.success"
               [src]="settings.siteSettings?.scenario_failed_img">
        </ng-template>
      </a>
    </ng-container>
  </mat-sidenav>
  <mat-sidenav-content class="app-container">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
