<h4 *ngIf="data.title" mat-dialog-title>{{ data.title }}</h4>
<button *ngIf="data.showCloseButton"
        color="primary"
        mat-icon-button
        mat-dialog-close
        title="Close"
        id="close-button">
  <mat-icon>close</mat-icon>
</button>
<span *ngIf="data.subtitle" class="subtitle">{{data.subtitle}}</span>
<mat-dialog-content>
  <div class="load-overlay" *ngIf="isLoading$ | async">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
  <div *ngIf="errors">
    <mat-error *ngFor="let error of errors | keyvalue" class="alert">
      {{ error.key }}: {{ error.value }}
    </mat-error>
  </div>
  <p *ngIf="data.message" [innerHTML]="data.message"></p>
  <ng-container *ngTemplateOutlet="data.template; context: data.context"></ng-container>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button
          color="primary"
          mat-dialog-close
          style="margin-right: 20px;">
    {{ data.cancelButtonText }}
  </button>
  <button mat-button
          color="primary"
          (click)="onConfirmClick()">
    {{ data.confirmButtonText }}
  </button>
</mat-dialog-actions>
