<div class="background" *ngIf="settings.siteSettings?.welcome_background_img" style="background-image: url('{{settings.siteSettings?.welcome_background_img}}');"></div>
<div class="center page-content" style="overflow-y: auto; height: 100%;">
  <div class="text-panel"
       style="margin: 8% 6%; padding: 50px;"
       [innerHTML]="settings.siteSettings?.welcome_text">
  </div>
  <button mat-icon-button
          class="next"
          routerLink="/projects"
          i18n-title title="next page">
          <mat-icon>navigate_next</mat-icon>
  </button>
</div>
