<div class="load-overlay" *ngIf="isLoading$ | async">
  <mat-spinner [diameter]="50"></mat-spinner>
</div>
<div class="background" *ngIf="settings.siteSettings?.steps_background_img"
     style="background-image: url('{{settings.siteSettings?.steps_background_img}}');"></div>
<div class="steps-container">
  <div class="steps-content">
    <mat-accordion id="available-steps">
      <h2 style="margin-bottom: 5px;">Available Steps</h2>
      <mat-expansion-panel *ngFor="let group of stepGroups">
        <mat-expansion-panel-header>
          <mat-panel-title class="group-title">
            {{group}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-accordion multi cdkDropList
                       cdkDropListSortingDisabled
                       [cdkDropListData]="availableSteps[group]"
                       [cdkDropListConnectedTo]="[scenarioStepList]"
                       class="step-list">
          <mat-expansion-panel class="available-step-item"
                               *ngFor="let step of availableSteps[group]"
                               [cdkDragData]="step" cdkDrag
                               [title]="(step.title || step.name)"
                               [matTooltip]="settings.activeScenario$.value?.is_running? 'Scenario is currently running!': (_scenStepNames.indexOf(step.name) >= 0)? 'Step is already part of the run!': ''"
                               matTooltipPosition="right"
                               [cdkDragDisabled]="settings.activeScenario$.value?.is_running || _scenStepNames.indexOf(step.name) >= 0">
            <div class="drag-placeholder" *cdkDragPlaceholder></div>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{step.title || step.name}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p><i [innerHTML]="step.description"></i></p>
            <ng-container *ngIf="step.required && (step.required.length > 1 || step.required[0] != 'None')">
              Prerequisites:<br>
              <ng-container *ngFor="let required of getRequiredSteps(step); let last = last;">
                <ng-container *ngIf="required">
                  <u [matTooltip]="required?.description"
                     matTooltipPosition="right" style="cursor: help;">
                    {{required.title || required.name}}
                  </u>
                  <ng-container *ngIf="!last">,&nbsp;</ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-expansion-panel>
    </mat-accordion>

    <div id="scenario-steps" [ngClass]="{'deactivated': (stepsLoading$ | async)}" style="min-width: 700px">
      <h2 style="margin-bottom: 5px;">Scenario Steps</h2>
      <mat-accordion cdkDropList
                     #scenarioStepList="cdkDropList"
                     [cdkDropListData]="scenarioSteps"
                     class="step-list"
                     (cdkDropListDropped)="drop($event)">
        <mat-expansion-panel *ngFor="let step of scenarioSteps"
                             class="scenario-step-item"
                             [cdkDragData]="step" cdkDrag
                             [cdkDragDisabled]="settings.activeScenario$.value?.is_running">
          <div class="drag-placeholder" *cdkDragPlaceholder></div>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{step.title || step.name}}
            </mat-panel-title>
            <mat-panel-description>
              <div *ngIf="step.finished"
                   [style.color]="step.success? 'green': 'red'"
                   style="display: flex; align-items: center;">
                {{step.finished}}&nbsp;
                <mat-icon *ngIf="step.success"
                          title="success">
                  done
                </mat-icon>
                <mat-icon *ngIf="!step.success"
                          class="material-symbols-outlined"
                          title="failed">
                  cancel
                </mat-icon>
              </div>
              <div style="margin-left: auto; display: flex; align-items: center;">
                <mat-slide-toggle [checked]="step.active"
                                  color="primary"
                                  (click)="$event.stopPropagation();"
                                  [disabled]="settings.activeScenario$.value?.is_running"
                                  (change)="toggleActive($event.checked, step)" >
                </mat-slide-toggle>
                <button mat-icon-button
                        [disabled]="settings.activeScenario$.value?.is_running"
                        (click)="removeStep(step); $event.stopPropagation();"
                        title="Remove step">
                  <mat-icon style="color: red;" class="material-icons-outlined">delete_forever</mat-icon>
                </button>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p><i [innerHTML]="step.description"></i></p>
          <p *ngIf="step.started">
            Started: {{step.started}}
          </p>
          <p *ngIf="step.finished"
             [style.color]="step.success? 'green': 'red'">
            Finished: {{step.finished}}
            <ng-container *ngIf="!step.success">&nbsp;(failed)</ng-container>
          </p>
          <ng-container *ngIf="step.required && (step.required.length > 1 || step.required[0] != 'None')">
            <mat-divider></mat-divider>
            Prerequisites:
            <ng-container *ngFor="let required of getRequiredSteps(step); let last = last;">
              <ng-container *ngIf="required">
                <u [matTooltip]="required?.description"
                   matTooltipPosition="right" style="cursor: help;">
                  {{required.title || required.name}}
                </u>
                <ng-container *ngIf="!last">,&nbsp;</ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
          <mat-divider></mat-divider>
          <ng-container *ngIf="getInjectables(step).length > 0">
<!--            <h3>Injectables</h3>-->
            <table style="width: 100%;" (mousedown)="$event.preventDefault(); $event.stopPropagation();">
              <tr *ngFor="let injectable of getInjectables(step)">
                <td style="padding-right: 15px;">
                  <b>{{injectable.title || injectable.name}}</b>
                </td>
                <td style="min-width: 200px;" *ngIf="injectable.value !== undefined">
                  <injectable [injectable]="injectable"></injectable>
                </td>
                <td>
                  <button mat-button [disabled]="settings.activeScenario$.value?.is_running"
                          (click)="editInjectable(injectable)">
                    {{injectable.editable? "EDIT": "SHOW"}}
                  </button>
                </td>
              </tr>
            </table>
          </ng-container>
        </mat-expansion-panel>
      </mat-accordion>
      <div style="display: flex; margin-top: 10px;">
        <button mat-flat-button
                color="primary"
                (click)="run()"
                [disabled]="settings.activeScenario$.value?.is_running || !activeStepsCount">
          RUN CALCULATIONS
        </button>
        <button mat-flat-button
                color="warn"
                *ngIf="settings.activeScenario$.value?.is_running"
                (click)="abort()"
                style="margin-left: auto;">
          ABORT
        </button>
      </div>
    </div>
  </div>
  <div class="steps-footer">
    <div id="resize-handle" #resizeHandle cdkDragLockAxis="y" cdkDrag (cdkDragMoved)="onResizeDrag($event)">
      <button mat-mini-fab
              class="flat micro">
        <mat-icon class="material-symbols-outlined">expand_all</mat-icon>
      </button>
    </div>
    <div #logContainer style="width: 100%;" [style.height]="logHeight + 'px'">
      <app-scenario-log height="100%"></app-scenario-log>
    </div>
  </div>
</div>
