<div style="display: flex; user-select: none;">
  <mat-accordion id="available-steps">
    <mat-expansion-panel *ngFor="let group of availableSteps | keyvalue;" class="example-container">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>{{group.key}}</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-accordion multi cdkDropList
                     cdkDropListSortingDisabled
                     [cdkDropListData]="group.value"
                     [cdkDropListConnectedTo]="[scenarioStepList]"
                     class="example-list">
        <mat-expansion-panel class="available-step-item"
                             *ngFor="let item of group.value"
                             [cdkDragData]="item" cdkDrag
                             [cdkDragDisabled]="_scenStepNames.indexOf(item.name) >= 0">
          <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{item.title || item.name}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <i [innerHTML]="item.description"></i>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>
  </mat-accordion>

  <div id="scenario-steps" [ngClass]="{'deactivated': (stepsLoading$ | async)}">
    <mat-accordion cdkDropList
                   #scenarioStepList="cdkDropList"
                   [cdkDropListData]="scenarioSteps"
                   class="example-list"
                   (cdkDropListDropped)="drop($event)">
      <mat-expansion-panel *ngFor="let step of scenarioSteps"
                           [cdkDragData]="step" cdkDrag>
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{step.title || step.name}}
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon *ngIf="step.finished && step.success"
                      title="failed"
                      style="color: green" >
              done
            </mat-icon>
            <mat-icon *ngIf="step.finished && !step.success"
                      title="success"
                      style="color: red" class="material-symbols-outlined">
              cancel
            </mat-icon>
            <mat-slide-toggle [checked]="step.active"
                              color="primary"
                              style="margin-left: auto"
                              (click)="$event.stopPropagation();"
                              (change)="toggleActive($event.checked, step)" >
            </mat-slide-toggle>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <i [innerHTML]="step.description"></i>
        <p *ngIf="step.started">Started: {{step.started}}</p>
        <p *ngIf="step.finished">Finished: {{step.finished}}</p>
        <p *ngIf="step.finished && step.success" style="color: green">Success</p>
        <p *ngIf="step.finished && !step.success" style="color: red">Failed</p>
        <ng-container *ngIf="getInjectables(step).length > 0">
          <h4>Injectables</h4>
          <table class="striped">
            <tr *ngFor="let injectable of getInjectables(step)">
              <td style="padding-right: 15px;">
                <b>{{injectable.name}}</b>
              </td>
              <td style="min-width: 200px;" *ngIf="injectable.value !== undefined">
                <injectable [injectable]="injectable"></injectable>
              </td>
              <td>
                <button mat-button (click)="editInjectable(injectable)">{{injectable.editable? "EDIT": "SHOW"}}</button>
              </td>
            </tr>
          </table>
        </ng-container>
      </mat-expansion-panel>
    </mat-accordion>
    <button mat-button (click)="run()">RUN CALCULATIONS</button>
  </div>

  <div style="width: 300px">
    <app-scenario-log></app-scenario-log>
  </div>
</div>
