<div class="load-overlay" *ngIf="isLoading$ | async">
  <mat-spinner [diameter]="50"></mat-spinner>
</div>
<div class="background" *ngIf="settings.user$.value?.profile?.show_backgrounds && settings.siteSettings?.steps_background_img"
     style="background-image: url('{{settings.siteSettings?.steps_background_img}}');"></div>
<div class="steps-container">
  <div class="steps-content">
    <div cdkDropList
         id="trashbin"
         #trashbin="cdkDropList"
         style="min-width: 100px"
         (cdkDropListDropped)="dropTrash($event)">
    </div>
    <div id="available-steps">
      <div class="steps-heading">
        <div class="tab">
          <h2 i18n>Available Steps</h2>
        </div>
      </div>
      <div class="accordion-wrapper">
        <mat-accordion>
          <mat-expansion-panel class="group-panel" *ngFor="let group of stepGroups">
            <mat-expansion-panel-header class="group-header">
              <mat-panel-title class="group-title">
                {{group}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-accordion multi cdkDropList
                           cdkDropListSortingDisabled
                           [cdkDropListData]="availableSteps[group]"
                           [cdkDropListConnectedTo]="[scenarioStepList]"
                           class="step-list">
              <mat-expansion-panel class="available-step-item"
                                   *ngFor="let step of availableSteps[group]"
                                   [cdkDragData]="step" cdkDrag
                                   [matTooltip]="settings.activeScenario$.value?.is_running? curRunninMsg: (_scenStepNames.indexOf(step.name) >= 0)? alreadyInMsg: ''"
                                   matTooltipPosition="right"
                                   [cdkDragDisabled]="settings.activeScenario$.value?.is_running || _scenStepNames.indexOf(step.name) >= 0">
                <div class="drag-placeholder" *cdkDragPlaceholder></div>
                <mat-expansion-panel-header [title]="(step.title || step.name)">
                  <mat-panel-title>
                    {{step.title || step.name}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p><i [innerHTML]="step.description"></i></p>
                <ng-container *ngIf="step.required && (step.required.length > 1 || step.required[0] != 'None')">
                  <ng-container i18n>Prerequisites</ng-container>:<br>
                  <ng-container *ngFor="let required of step.requiredSteps; let last = last;">
                    <ng-container *ngIf="required">
                      <u [matTooltip]="required?.descEscaped"
                         matTooltipPosition="right" style="cursor: help;">
                        {{required.title || required.name}}
                      </u>
                      <ng-container *ngIf="!last">,&nbsp;</ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

    <div id="scenario-steps" [ngClass]="{'deactivated': (stepsLoading$ | async)}" style="min-width: 700px">
      <div class="steps-heading">
        <div class="tab">
          <h2 i18n>Scenario Steps</h2>
        </div>
        <div style="margin-left: auto; margin-right: 10px;">
          <mat-slide-toggle #stepsToggle
                            id="toggle-all"
                            i18n-title title="Turn all steps on/off"
                            [checked]="activeStepsCount > 0"
                            [ngClass]="{'half-checked': (activeStepsCount > 0) && (activeStepsCount < scenarioSteps.length) }"
                            color="primary"
                            [disabled]="settings.activeScenario$.value?.is_running"
                            (change)="toggleAllActive()">
          </mat-slide-toggle>
          <button mat-flat-button
                  color="primary"
                  *ngIf="!settings.activeScenario$.value?.is_running"
                  (click)="run()"
                  [disabled]="settings.activeScenario$.value?.is_running || !activeStepsCount" i18n>
            RUN CALCULATIONS
          </button>
          <button mat-flat-button
                  color="warn"
                  *ngIf="settings.activeScenario$.value?.is_running"
                  (click)="abort()"
                  style="margin-left: auto;" i18n>
            ABORT
          </button>
        </div>
      </div>
      <div #previewContainer></div>
      <div class="accordion-wrapper">
        <mat-accordion cdkDropList
                       id="scenarioStepList"
                       #scenarioStepList="cdkDropList"
                       [cdkDropListConnectedTo]="trashbin"
                       [cdkDropListData]="scenarioSteps"
                       class="step-list"
                       (cdkDropListDropped)="drop($event)">
          <mat-expansion-panel *ngFor="let step of scenarioSteps"
                               class="scenario-step-item"
                               [ngClass]="{'active': step.active}"
                               [cdkDragData]="step" cdkDrag
                               [cdkDragPreviewContainer]="previewContainer"
                               [cdkDragDisabled]="settings.activeScenario$.value?.is_running"
                               (cdkDragEntered)="onStepDragEnter($event)">
            <div class="drag-placeholder" *cdkDragPlaceholder></div>
            <mat-expansion-panel-header>
              <div class="sub-title">
                {{formatGroupName(step.group || '')}}
              </div>
              <mat-panel-title [title]="step.title || step.name">
                <div>
                  {{step.title || step.name}}
                </div>
                <mat-icon class="remove-indicator">highlight_off</mat-icon>
              </mat-panel-title>
              <mat-panel-description>
                <div *ngIf="step.finished"
                     [style.color]="step.success? 'green': 'red'"
                     style="display: flex; align-items: center;">
                  {{step.finished}}&nbsp;
                  <mat-icon *ngIf="step.success"
                            title="success"
                            i18n-title>
                    done
                  </mat-icon>
                  <mat-icon *ngIf="!step.success"
                            class="material-symbols-outlined"
                            title="failed"
                            i18n-title>
                    cancel
                  </mat-icon>
                </div>
                <div style="margin-left: auto; display: flex; align-items: center;">
                  <mat-slide-toggle [checked]="step.active"
                                    color="primary"
                                    (click)="$event.stopPropagation();"
                                    [disabled]="settings.activeScenario$.value?.is_running"
                                    (change)="toggleActive($event.checked, step)"
                                    i18n-title title="Turn step on/off">
                  </mat-slide-toggle>
                  <button mat-icon-button
                          [disabled]="settings.activeScenario$.value?.is_running"
                          (click)="removeStep(step); $event.stopPropagation();"
                          i18n-title title="Remove step">
                    <mat-icon style="color: red;" class="material-icons-outlined">delete_forever</mat-icon>
                  </button>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p><i [innerHTML]="step.description"></i></p>
            <p *ngIf="step.started">
              <ng-container i18n>Started</ng-container>: {{step.started}}
            </p>
            <p *ngIf="step.finished"
               [style.color]="step.success? 'green': 'red'">
              <ng-container i18n>Finished</ng-container>: {{step.finished}}
              <ng-container *ngIf="!step.success">&nbsp;(failed)</ng-container>
            </p>
            <ng-container *ngIf="step.required && (step.required.length > 1 || step.required[0] != 'None')">
              <mat-divider></mat-divider>
              <ng-container i18n>Prerequisites</ng-container>:
              <ng-container *ngFor="let required of step.requiredSteps; let last = last;">
                <ng-container *ngIf="required">
                  <u [matTooltip]="required?.descEscaped"
                     matTooltipPosition="right" style="cursor: help;">
                    {{required.title || required.name}}
                  </u>
                  <ng-container *ngIf="!last">,&nbsp;</ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
            <mat-divider></mat-divider>
            <ng-container *ngIf="step.injList.length > 0">
              <table style="width: 100%;" (mousedown)="$event.preventDefault(); $event.stopPropagation();">
                <tr *ngFor="let injectable of step.injList">
                  <td style="padding-right: 15px;"
                      [matTooltip]="injectable.description"
                      matTooltipPosition="left">
                    <b>{{injectable.title || injectable.name}}</b>
                  </td>
                  <td style="min-width: 200px;" *ngIf="injectable.value !== undefined">
                    <injectable [injectable]="injectable"></injectable>
                  </td>
                  <td>
                    <button mat-icon-button class="micro"
                            *ngIf="injectable.editable"
                            [disabled]="settings.activeScenario$.value?.is_running"
                            (click)="editInjectable(injectable);" i18n-title title="edit injectable">
                      <mat-icon class="material-icons-outlined">edit</mat-icon>
                    </button>
                    <button mat-icon-button class="micro"
                            *ngIf="!injectable.editable"
                            [disabled]="settings.activeScenario$.value?.is_running"
                            (click)="editInjectable(injectable);" i18n-title title="view injectable">
                      <mat-icon class="material-icons-outlined">remove_red_eye</mat-icon>
                    </button>
                  </td>
                </tr>
              </table>
            </ng-container>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
  <div class="steps-footer">
    <div id="resize-handle" #resizeHandle cdkDragLockAxis="y"
         cdkDrag (cdkDragMoved)="onResizeDrag($event)"
         [style.display]="showLog? 'flex': 'none'"
         title="drag to change log size" i18n-title>
      <button mat-mini-fab
              class="flat micro">
        <mat-icon class="material-symbols-outlined">expand_all</mat-icon>
      </button>
    </div>
    <div id="minimize-log"
         (click)="setShowLog(!showLog)"
         title="minimize/maximize log" i18n-title>
      <span *ngIf="!showLog" i18n>Show Log</span>
<!--      <span *ngIf="showLog" i18n>Hide Log</span>-->
      <button mat-mini-fab class="flat">
        <mat-icon *ngIf="showLog" class="material-symbols-outlined">minimize</mat-icon>
        <mat-icon *ngIf="!showLog" class="material-symbols-outlined">maximize</mat-icon>
      </button>
    </div>
    <div #logContainer style="width: 100%;" [style.height]="logHeight + 'px'"
         [style.display]="showLog? 'block': 'none'">
      <app-scenario-log height="100%"></app-scenario-log>
      <mat-form-field id="loglevel-select">
        <!-- <mat-label i18n>Log-Level</mat-label>-->
        <mat-select [value]="settings.logLevel$.value" (selectionChange)="settings.setLogLevel($event.value)">
          <mat-option value="INFO">INFO</mat-option>
          <mat-option value="DEBUG">DEBUG</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
