<ng-container *ngIf="edit; else preview;">
  <table mat-table [dataSource]="data">
    <ng-container matColumnDef="checked">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox color="primary"
                      [checked]="element.checked">
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
  <!--<ng-container *ngIf="!choiceLabels">
    <div style="display: flex;">
      <div style="align-self: center;">
        <ng-container *ngIf="!choices.length; else selectHint" i18n>no choices available</ng-container>
        <ng-template #selectHint><div i18n>Select one or more</div></ng-template>
      </div>
      <div style="margin-left: auto; display: flex;">
        <mat-form-field *ngIf="showStringFilter"
                        style="margin-bottom: -22px; margin-right: 15px;">
          <mat-label i18n>filter by entry contains</mat-label>
          <input type="text" matInput
                 [(ngModel)]="filterString"
                 (keyup)="filterEntries()">
        </mat-form-field>
        <mat-checkbox [(ngModel)]="filterChecked"
                      (change)="filterEntries()"
                      style="align-self: center;" i18n>
          Show checked only
        </mat-checkbox>
      </div>
    </div>
    <div style="overflow: auto; max-height: 350px; width: 900px; min-height: 50px;">
      <div style="display: flex; flex-wrap: wrap;">
        <mat-checkbox *ngFor="let choice of choices; let i = index;"
                      color="primary"
                      style="min-width: 200px;"
                      [style.display]="active[i]? 'flex': 'none'"
                      [checked]="checked[i]"
                      (change)="onValueChanged($event.checked, i)">
          {{choice}}
        </mat-checkbox>
      </div>
    </div>
  </ng-container>-->
</ng-container>

<ng-template #preview>
  <ng-container *ngFor="let value of choices; let i = index;">
    <div *ngIf="checked[i]">
      {{value}}
    </div>
  </ng-container>
</ng-template>
