.flat-json {
  padding: 1em;
}

textarea {
  display: block;
}

.flat-json h2{
  font-size: 1em;
}

.flat-json-add-row {
  background-color: #28a745;
  border-color: #28a745;
}

.flat-json-toggle-textarea {
  background-color: #6c757d;
  border-color: #6c757d;
}

.flat-json-add-row, .flat-json-toggle-textarea {
  color: #fff;
  padding: 0.1em 0.8em 0.2em 0.8em;
  border-radius: 0.2em;
  margin: 1em;
}

.flat-json-add-row:hover, .flat-json-toggle-textarea:hover {
  color: #fff;
}