<table *ngIf="scenarios.length > 0" class="striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Started</th>
      <th>Finished</th>
      <th>Success</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let scenario of scenarios"
        (click)="onScenarioSelected.emit(scenario)"
        [ngClass]="{'selected': settings.activeScenario$.value?.id === scenario.id}">
      <td> {{ scenario.name }} </td>
      <td> {{ scenario.description }} </td>
      <td> {{ scenario.last_run?.started || '-' }} </td>
      <td> {{ scenario.last_run?.finished || '-' }} </td>
      <td> {{ (scenario.last_run?.success != undefined)? ((scenario.last_run?.success)? 'yes': 'no'): '-' }} </td>
      <td>
        <button mat-button (click)="onEditScenario.emit(scenario); $event.stopPropagation()">EDIT</button>
        <button mat-button (click)="onDeleteScenario.emit(scenario); $event.stopPropagation()">DELETE</button>
      </td>
    </tr>
  </tbody>
</table>
<button mat-button (click)="onCreateScenario.emit(true)">+ NEW SCENARIO</button>
