<button mat-button (click)="onCreateScenario.emit(true)">+ <ng-container i18n>NEW SCENARIO</ng-container></button>
<table *ngIf="scenarios.length > 0" class="striped">
  <thead>
    <tr>
      <th i18n>Name</th>
      <th i18n>Description</th>
      <th i18n>Started</th>
      <th i18n>Finished</th>
      <th i18n>Success</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let scenario of scenarios"
        (click)="onScenarioSelected.emit(scenario)"
        [ngClass]="{'selected': settings.activeScenario$.value?.id === scenario.id}">
      <td> {{ scenario.name }} </td>
      <td> {{ scenario.description }} </td>
      <td> {{ scenario.last_run?.started || '-' }} </td>
      <td> {{ scenario.last_run?.finished || '-' }} </td>
      <td> {{ (scenario.last_run?.success != undefined)? ((scenario.last_run?.success)? 'yes': 'no'): '-' }} </td>
      <td style="white-space: nowrap;">
        <button mat-button (click)="onEditScenario.emit(scenario); $event.stopPropagation()" i18n>EDIT</button>
        <button mat-button (click)="onDeleteScenario.emit(scenario); $event.stopPropagation()" i18n>DELETE</button>
      </td>
    </tr>
  </tbody>
</table>
