{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<head>
  <title>OrcaDjango</title>
</head>

<body>
{% bootstrap_messages %}
{% block bootstrap4_content %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">OrcaDjango</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% if user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'settings' %}"><i>Settings</i></a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'scenarios' %}">Scenario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'injectables' %}">Injectables</a>
        </li>
        <li class="nav-item" style="margin-right: 50px">
          <a class="nav-link" href="{% url 'steps' %}">Steps &amp; Run</a>
        </li>
        {% if user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link" href="/admin"><i>Admin</i></a>
        </li>
        {% endif %}
      </ul>
      <p style="position: absolute; right: 50px;">
      {% if user.is_authenticated %}
        angemeldet als "{{ user.get_username }}"
        <a href="{% url 'logout'%}?next={{request.path}}" style="margin-left: 10px">logout</a>
      {% else %}
        <a href="{% url 'login'%}?next={{request.path}}">Login</a>
      {% endif %}
      </p>
    </div>
  </nav>
  <div style="padding-left: 30px;">
    {% if python_module %}
      <div class="row">
        module &nbsp;<a href='/settings'><i> {{ python_module }} </i></a>
      </div>
    {% endif %}
    {% if scenario_name %}
      <div class="row">
        scenario &nbsp;<a href='/scenarios'><h4><i>{{ scenario_name }}</i></h4></a>
      </div>
    {% endif %}
  </div>
  <div class="container">
    <h4>{% block title %}{% endblock %}</h4>

    {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

    {% block content %}{% endblock %}
  </div>

{% endblock %}
</body>
