{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
  <title>Miraculix</title>
  {% if user.is_authenticated %}
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  {% endif %}
  <META NAME="robots" CONTENT="noindex,nofollow">
</head>

<body>
{% bootstrap_messages %}
{% block bootstrap4_content %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/" style="font-family: 'Comic Neue', cursive; color: #d60000;"><b>MIRACULIX</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% if user.is_superuser %}
        <li class="nav-item" style="margin-right: 20px;">
          <a class="nav-link {% if request.path  == '/settings/' %} active {% endif %}" href="{% url 'settings' %}">
          <!--<i class="fa fa-cog"></i>-->
          <i>Modules</i>
          </a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link {% if request.path  == '/projects/' %} active {% endif %}" href="{% url 'projects' %}"><i class="fa fa-globe"></i>Project</a>
        </li>
        <div style="padding-top: 0.4em;">></div>
        <li class="nav-item">
          <a class="nav-link {% if request.path  == '/scenarios/' %} active {% endif %}" href="{% url 'scenarios' %}"><i class="fa fa-asterisk"></i>Scenario</a>
        </li>
        <div style="padding-top: 0.4em;">></div>
        <li class="nav-item">
          <a class="nav-link {% if request.path  == '/injectables/' %} active {% endif %}" href="{% url 'injectables' %}"><i class="fa fa-table"></i>Parameters</a>
        </li>
        <div style="padding-top: 0.4em;">></div>
        <li class="nav-item">
          <a class="nav-link {% if request.path  == '/steps/' %} active {% endif %}" href="{% url 'steps' %}" ><i style="color: green;" class="fa fa-play-circle"></i>Steps &amp; Run</a>
        </li>
        <li class="nav-item" style="margin-left: 20px; margin-right: 50px">
          <a class="nav-link {% if request.path  == '/status/' %} active {% endif %}" href="{% url 'status' %}"><i class="fa fa-clock-o"></i>Status</a>
        </li>
        {% if user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link" href="/admin"><i class="fa fa-grav"></i><i>Admin</i></a>
        </li>
        {% endif %}
      </ul>
      <p style="position: absolute; right: 50px;">
      <i class="fa fa-user-o"></i>
      {% if user.is_authenticated %}
        angemeldet als "{{ user.get_username }}"
        <a href="{% url 'logout'%}?next={{request.path}}" style="margin-left: 10px">logout</a>
      {% else %}
        <a href="{% url 'login'%}?next={{request.path}}">Login</a>
      {% endif %}
      </p>
    </div>
  </nav>
  <div class="row" style="padding-left: 30px;">
    <div class="col-md-8">
        {% if show_project_settings %}
        <div class="row">
          module &nbsp;<a href='/settings'><i>{% if python_module %} {{ python_module }} {% else %} None {% endif %}</i></a>
        </div>
        <div class="row">
          project &nbsp;<a href='/projects'><h4><i>{% if active_project %} {{ active_project.name }} {% else %} None {% endif %}</i></h4></a>
        </div>
        <div class="row">
          scenario &nbsp;<a href='/scenarios'><h4><i>{% if active_scenario %} {{ active_scenario.name }} {% else %} None {% endif %}</i></h4></a>
        </div>
        {% endif %}
    </div>
    {% if show_status %}
    <div class="col-md-4" style="padding-right: 60px;">
      <label id="status-label" style="float: right; margin-left: 5px; width: 200px;"></label>
      <a href='/status' style="float: right;"> <b> Status:</b> </a>
    </div>
    {% endif %}
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-{% if left_columns %}{{ left_columns }}{% else %}2{% endif %}" style="padding-left: 2em;">
    {% block left-content %}
    {% endblock %}
    </div>
    <div class="col-md-{% if center_columns %}{{ center_columns }}{% else %}7{% endif %}" style="padding-left: 2em;">

      {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

      {% block content %}{% endblock %}
    </div>
    <div class="col-md-{% if right_columns %}{{ right_columns }}{% else %}2{% endif %}" style="padding-left: 2em;">
      {% block right-content %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
</body>

<script>
{% if show_status and active_scenario%}
  var statusUrl = '/status/detail/{{ active_scenario.id }}/',
      statusLabel = document.getElementById('status-label');

  class Status{
    constructor(intervall, on_update) {
      this.on_update = on_update;
      this.intervall = intervall;
    }

    run() {
      var self = this;
      setInterval(function(){self.update()}, this.intervall);
      this.update();
    }

    update() {
      const self = this;
      return new Promise((resolve, reject) => {
        fetch(statusUrl).then(data=>{return data.json()}).then(function(res){
          if (self.on_update) self.on_update(res);
          statusLabel.innerHTML = res.text;
          var color = (res.running) ? 'red' : (res.other_running_in_project.length > 0) ? 'orange' : 'green';
          statusLabel.parentNode.style.color = color;
          resolve(res)
        }, function(){reject(res)})
      })
    }
  }
  const status = new Status(10000);
  status.run();
{% endif %}
</script>
