{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}

<head>
  <title>OrcaDjango</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>

<body>
{% bootstrap_messages %}
{% block bootstrap4_content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">OrcaDjango</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% if user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link {% if request.path  == '/settings/' %} active {% endif %}" href="{% url 'settings' %}"><i>Settings</i></a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link {% if request.path  == '/projects/' %} active {% endif %}" href="{% url 'projects' %}">Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path  == '/scenarios/' %} active {% endif %}" href="{% url 'scenarios' %}">Scenario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path  == '/injectables/' %} active {% endif %}" href="{% url 'injectables' %}">Injectables</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path  == '/steps/' %} active {% endif %}" href="{% url 'steps' %}">Steps &amp; Run</a>
        </li>
        <li class="nav-item" style="margin-right: 50px">
          <a class="nav-link {% if request.path  == '/status/' %} active {% endif %}" href="{% url 'status' %}">Status</a>
        </li>
        {% if user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link" href="/admin"><i>Admin</i></a>
        </li>
        {% endif %}
      </ul>
      <p style="position: absolute; right: 50px;">
      {% if user.is_authenticated %}
        angemeldet als "{{ user.get_username }}"
        <a href="{% url 'logout'%}?next={{request.path}}" style="margin-left: 10px">logout</a>
      {% else %}
        <a href="{% url 'login'%}?next={{request.path}}">Login</a>
      {% endif %}
      </p>
    </div>
  </nav>
  <div class="row" style="padding-left: 30px;">
    <div class="col-md-8">
        {% if show_project_settings %}
        <div class="row">
          module &nbsp;<a href='/settings'><i>{% if python_module %} {{ python_module }} {% else %} None {% endif %}</i></a>
        </div>
        <div class="row">
          project &nbsp;<a href='/projects'><h4><i>{% if active_project %} {{ active_project.name }} {% else %} None {% endif %}</i></h4></a>
        </div>
        <div class="row">
          scenario &nbsp;<a href='/scenarios'><h4><i>{% if active_scenario %} {{ active_scenario.name }} {% else %} None {% endif %}</i></h4></a>
        </div>
        {% endif %}
    </div>
    <div class="col-md-4" style="padding-right: 60px;">
      <a href='/status' style="float: right;"> <b> Status: </b> <label id="status-label"></label> </a>
    </div>
  </div>
  <div class="row" style="margin-top: 20px;">

    {% block left-content %}
    <div class="col-md-2">
    </div>
    {% endblock %}
    <div class="col-md-6">
      <h4>{% block title %}{% endblock %}</h4>

      {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

      {% block content %}{% endblock %}
    </div>
    {% block right-content %}
    <div class="col-md-0">
    </div>
    {% endblock %}
  </div>
{% endblock %}
</body>

<script>
  var statusUrl = '/steps/status/',
      statusLabel = document.getElementById('status-label'),
      lastStatus;

  function updateStatus(){
    return new Promise((resolve, reject) => {
      fetch(statusUrl).then(data=>{return data.json()}).then(function(res){
        lastStatus = res;
        statusLabel.innerHTML = res.text;
        var color = (res.running) ? 'red' : 'green';
        statusLabel.parentNode.style.color = color;
        resolve(res)
      }, function(){reject(res)})
    })
  }

  (function() {
    // periodically update status
    updateStatus();
    setInterval(updateStatus, 2000);
  })();
</script>
