{% extends 'orcaserver/base.html' %}

{% load bootstrap4 %}

{% block title %}
  List of all Injectables and their current values
{% endblock %}

{% block content %}
  {% if injectables %}
    <form action='' method="post">
      {% csrf_token %}
      <input type="submit" name="reset" value="Reset all" class="btn btn-warning">
    </form>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" style="width: 1%;">injectable</th>
          <th scope="col">value</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
      {% for injectable in injectables %}
        <tr>
          {% if injectable.can_be_changed %}
            <td>{{ injectable.name }}</td>
            <td>{{ injectable.value }}</td>
            <td><a style="margin-left: 10px;" href="{{ injectable.name }}/">edit</a></td>
          {% else %}
            # <tr bgcolor="#999999">
            <td>{{ injectable.name }}</td>
            <td>{{ injectable.value }}</td>
            <td></td>
           # </tr>
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <ul>
    </ul>
  {% else %}
    <p>No injectables are available.</p>
  {% endif %}

{% endblock %}
