{% extends 'orcaserver/base.html' %}

{% load bootstrap4 %}

{% block title %}
  List of all Injectables and their current values
{% endblock %}

{% block content %}
  {% if injectable_dict %}
    <form action='' method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input type="submit" name="action" value="Populate" class="btn btn-primary">
      <input type="submit" name="action" value="Save" class="btn btn-primary">
      <input type="submit" name="action" value="Load" class="btn btn-primary">
    </form>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" style="width: 1%;">injectable</th>
          <th scope="col">value</th>
        </tr>
      </thead>
      <tbody>
      {% for injectable, value in injectable_dict.items %}
        <tr>
          <td>{{ injectable }}</td>
          <td>{{ value }}<a style="margin-left: 10px;" href="{{ injectable }}/">edit</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <ul>
    </ul>
  {% else %}
    <p>No injectables are available.</p>
  {% endif %}

{% endblock %}
