{% extends 'orcaserver/base.html' %}

{% load bootstrap4 %}

{% block title %}
  {% if request.session.scenario %}
    List of all Injectables and their current values
  {% else %}
    No scenario selected
  {% endif %}
{% endblock %}

{% block content %}
  {% if grouped_injectables %}
    <form action='' method="post">
      {% csrf_token %}
      <input type="submit" name="reset" value="Reset all" class="btn btn-warning">
    </form>
    <table class="table" id="injectables">
      <thead>
        <tr>
          <th scope="col">Group</th>
          <th scope="col">injectable</th>
          <th scope="col">Datatype</th>
          <th scope="col">Class</th>
          <th scope="col">Description</th>
          <th scope="col">Value</th>
          <th scope="col">Edit</th>
          <th scope="col">Parents</th>
        </tr>
      </thead>
      <tbody>
      {% for groupname, injectables in grouped_injectables.items %}
        {% for injectable in injectables %}
          <tr
          {% if not injectable.can_be_changed %}
            style="background-color: lightgrey;"
          {% elif not injectable.valid %}
            style="background-color: plum;"
          {% endif %}
          >
            <td style="border-bottom-style: hidden;"> {% if forloop.counter0 == 0 %} <b>{{ groupname }}</b> {% endif %} </td>
            <td>{{ injectable.name }}</td>
            <td>{{ injectable.datatype }}</td>
            <td>{{ injectable.data_class }}</td>
            <td>{{ injectable.docstring }}</td>
            <td>{{ injectable.repr_html | safe }}</td>
            {% if injectable.can_be_changed %}
            <td><a style="margin-left: 10px;" href="{{ injectable.name }}/">edit</a></td>
            <td></td>
            {% else %}
            <td><a style="margin-left: 10px;" href="{{ injectable.name }}/">view</a></td>
            <td>{{ injectable.parent_injectable_values | safe }}</td>
            {% endif %}
          </tr>
        {% endfor %}
      {% endfor %}
      </tbody>
    </table>
    <ul>
    </ul>
  {% else %}
    <p>no injectables available</p>
  {% endif %}

{% endblock %}
