{% extends 'orcaserver/base.html' %}
{% load bootstrap4 %}

{% block content %}
    <h4>Injectable "{{ view.name }}"</h4>
    {{ form.media }}
    {% if error_message %}<p style="color: red;"><strong>{{ error_message }}</strong></p>{% endif %}
    <p>{{ injectable.docstring }}</p>
    <form action='' method="post">
        {% csrf_token %}
        {% if injectable.can_be_changed  %}
            <div class="row">
                {% bootstrap_form form %}
            </div>
            <a class="btn btn-secondary" title="Back" href="/injectables/">Back</a>
            <input type="submit" name="change" title="Save current value" value="Save" class="btn btn-primary">
            <input type="submit" name="reset" value="Reset to default" title="Reset injectable value to project default" class="btn btn-warning">
        {% else %}
            <table class="table" id="parent_injectables">
            <thead>
              <th >Uses the following injectables as parameters</th>
            </thead>
                {% for parent_name, parent in injectable.parent_injectable_urls.items %}
                    <tr><td><a href={{ parent }}>{{ parent_name }}</a></td></tr>
                {% endfor %}
            <thead>
              <th >Calculated value</th>
            </thead>
                <tr><td>{{ injectable.repr_html | safe }}</td></tr>
            </table>
        {% endif %}
    </form>
{% endblock %}
