{% extends 'orcaserver/base.html' %}
{% load bootstrap4 %}

{% block content %}
  <h4>Parameter "{{ view.name }}"<div class="help" style="display: inline;">*</div></h4>
  {{ form.media }}
  <p><i>{{ injectable.docstring }}</i></p>
  <form action='' method="post">
    {% if error_message %}
    <div style="color: red;">
    {{ error_message }}
    </div>
    {% endif %}
    {% csrf_token %}
    {% if injectable.can_be_changed  %}
      <div class="row"style="padding: 1em;">
        {% bootstrap_form form %}
      </div>
      <button type="submit" name="back" value="back" title="Back to previous page without saving" class="btn btn-secondary" style="margin-right: 2em;">
        <i class="fa fa-arrow-circle-left"></i>Back
      </button>
      <button type="submit" name="change" value="change" title="Save current value" class="btn btn-primary">
        <i class="fa fa-floppy-o"></i>Save
      </button>
      <button type="submit" name="reset" value="reset" title="Reset parameter value to project default" class="btn btn-warning">
        <i class="fa fa-undo"></i>Reset
      </button>
    {% else %}
      <table class="table" id="parent_injectables">
      <thead>
        <th>Is derived from</th>
      </thead>
        {% for parent_name, parent in injectable.parent_injectable_urls.items %}
          <tr><td><a href={{ parent }}>{{ parent_name }}</a></td></tr>
        {% endfor %}
      <thead>
        <th >Calculated value</th>
      </thead>
        <tr><td>{{ injectable.repr_html | safe }}</td></tr>
      </table>
    {% endif %}
  </form>

<div class="help" style="margin-top: 5em;">
  <p>
    * This form allows you to edit the value of a parameter within the active scenario.
  </p>
  <p>
    To <b>confirm</b> your input press "Save Project". If your inputs were valid you will be redirected back to the page you came from.
  </p>
  <p>
    If the server rejected the form you have to correct the <b>invalid input</b>. Reasons can be that it was left empty or mismatched a certain type pattern.
    The reason will be displayed in red.
  </p>
  <p>
    To <b>reset</b> the parameter to the current project default press "Reset".
    <b>Warning</b>: This does not simply fill the default values into the inputs but actually reset the parameter value in place.
  </p>
</div>
{% endblock %}