{% load i18n l10n %}
<style type="text/css">{% block map_css %}
  #{{ id }}_map { width: {{ map_width }}px; height: {{ map_height }}px; }
  #{{ id }}_map .aligned label { float: inherit; }
  #{{ id }}_div_map { position: relative; vertical-align: top; }
  {% endblock %}
</style>

{{ label }}
<div id="{{ id }}_div_map">
  <div id="{{ id }}_map" style="margin-bottom: 0.5em;"></div>
  <button type="button" class="btn btn-warning" onclick="{{ module }}.clearSelectedFeatures()">
    <i class="fa fa-trash-o"></i>Delete selected Features
  </button>
  <button type="button" class="btn btn-danger" onclick="{{ module }}.clearFeatures()">
    <i class="fa fa-ban"></i>Delete all Features
  </button>
  <p style="margin-top: 20px;">(E)WKT (well known text)</p>
  <textarea id="{{ id }}" class="vSerializedField required" cols="150" rows="10" name="{{ name }}">{{ serialized }}</textarea>
  <br>
  <p> Hint: Use EWKT to provide information about the projection. Otherwise EPSG 3857 is expected.</p>
  <button type="button"  style="margin-top: 0.5em;" class="btn btn-secondary" onclick="{{ module }}.redraw()" title="Render Wkt on map.">
    <i class="fa fa-map-o"></i>Render Wkt on map
  </button>
  <script>
    {% block map_options %}var map_options = {};{% endblock %}
    {% block base_layer %}
      var base_layer = new ol.layer.Tile({source: new ol.source.OSM()});
    {% endblock %}
    {% block options %}var options = {
      base_layer: base_layer,
      geom_name: '{{ geom_type }}',
      id: '{{ id }}',
      map_id: '{{ id }}_map',
      map_options: map_options,
      map_srid: {{ map_srid|unlocalize }},
      name: '{{ name }}',
      default_lon: {{ default_lon|unlocalize }},
      default_lat: {{ default_lat|unlocalize }},
      default_zoom: {{ default_zoom|unlocalize }}
    };
    {% endblock %}
    var {{ module }} = new MapWidget(options);
  </script>
</div>
