{% load l10n %}
<style type="text/css">
    #{{ attrs.id }}_map { width: {{ map_width }}px; height: {{ map_height }}px; }
    #{{ attrs.id }}_map .aligned label { float: inherit; }
    #{{ attrs.id }}_span_map { position: relative; vertical-align: top; float: left; }
    .olControlEditingToolbar .olControlModifyFeatureItemActive {
        background-image: url("{{ STATIC_URL }}floppyforms/gis/img/move_vertex_on.png");
        background-repeat: no-repeat;
    }
    .olControlEditingToolbar .olControlModifyFeatureItemInactive {
        background-image: url("{{ STATIC_URL }}floppyforms/gis/img/move_vertex_off.png");
        background-repeat: no-repeat;
    }
</style>

<span id="{{ attrs.id }}_span_map">
    <div id="{{ attrs.id }}_map"></div>
    <button type="button" class="btn btn-secondary" onclick="{{ module }}.clearFeatures()">Delete all Features</button>
    <br><br>
    {% include "floppyforms/textarea.html" with required=0 %}
    <button type="button" class="btn btn-secondary" onclick="applyWkt()" title="Render Wkt on map. Only works with WKT with projection EPSG 3857."> Render Wkt on map </button>
    <script type="text/javascript">
        {% block map_options %}var map_options = {
            maxExtend: new OpenLayers.Bounds(-20037508,-20037508,20037508,20037508),
            maxResolution: 156543.0339,
            numZoomLevels: 20,
            units: 'm'};
        {% endblock %}
        {% block options %}var options = {
            geom_type: OpenLayers.Geometry.{{ geom_type }},
            id: '{{ attrs.id }}',
            is_collection: {{ is_collection|yesno:"true,false" }},
            is_linestring: {{ is_linestring|yesno:"true,false" }},
            is_point: {{ is_point|yesno:"true,false" }},
            is_polygon: {{ is_polygon|yesno:"true,false" }},
            map_id: '{{ attrs.id }}_map',
            map_options: map_options,
            map_srid: {{ map_srid|unlocalize }},
            name: '{{ name }}',
            default_lon: 5,
            default_lat: 47,
            scale_text: true,
            mouse_position: true,
            base_layer: new OpenLayers.Layer.OSM.Mapnik("OpenStreetMap (Mapnik)")
        };{% endblock %}
        var {{ module }} = new MapWidget(options),
            mapWidget = {{ module }};
        function applyWkt(){
            var wkt = document.getElementById(mapWidget.options.id).value;
            if (wkt) {
                var re = new RegExp("SRID=[0-9]*;"),
                    match = wkt.match(re);
                if (match) wkt = wkt.replace(match[0], '');
                var format = new OpenLayers.Format.WKT(),
                    feature = format.read(wkt, options);
                if (match){
                    re = new RegExp("[0-9]*;");
                    var srid = parseInt(match[0].match(re)[0]);
                    // ToDo: openlayers doesn't transform here, maybe proj4 required?
                    //feature.geometry = feature.geometry.transform(new OpenLayers.Projection('EPSG:' + srid), new OpenLayers.Projection('EPSG:' + mapWidget.options.map_srid));
                    if (srid != mapWidget.options.map_srid){
                        alert('WKT input has to be in map projection EPSG:' + mapWidget.options.map_srid + ' to render it on the map.\n'+
                            'Nevertheless you can save your WKT input without rendering it.')
                        return;
                    }
                }
                mapWidget.deleteFeatures();
                mapWidget.write_wkt(feature);
                if (mapWidget.options.is_collection) {
                    for (var i=0; i<mapWidget.num_geom; i++) {
                        mapWidget.layers.vector.addFeatures([new OpenLayers.Feature.Vector(feature.geometry.components[i].clone())]);
                    }
                } else {
                    mapWidget.layers.vector.addFeatures([feature]);
                }
                mapWidget.map.zoomToExtent(feature.geometry.getBounds());
            } else {
                mapWidget.map.setCenter(mapWidget.defaultCenter(), mapWidget.options.default_zoom);
            }
        }
    </script>
</span>
