{% extends 'orcaserver/base.html' %}
{% load bootstrap4 %}

{% block content %}
  <h4>{{ title }}<div class="help" style="display: inline;">*</div></h4>
  {{ form.media }}
  <form action='' method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <a href="/projects/" title="Back to previous page without saving" class="btn btn-secondary" style="margin-right: 2em;">
      <i class="fa fa-arrow-circle-left"></i>Back
    </a>
    <button type="submit" name="change" value="change" title="Save changes" class="btn btn-primary">
      <i class="fa fa-floppy-o"></i>Save Project
    </button>
  </form>
{% endblock %}