{% extends 'orcaserver/base.html' %}
{% load bootstrap4 %}

{% block title %}
  Select a scenario
{% endblock %}

{% block content %}

  <form action='' method="post">
    {% csrf_token %}
    <select class="form-control" name='scenario' style="min-width: 200px; width: auto; margin-right: 10px; display: inline;">
    {% for scenario in scenarios %}
      <option value="{{ scenario.id }}" {% if scenario.id|stringformat:"i" == request.session.scenario|stringformat:"i" %} selected="selected" {% endif %}>
        {{ scenario.name }}
      </option>
    {% endfor %}
    </select>
    <input class="btn btn-primary" type="submit" name="select" value="Select">
    <input class="btn btn-danger" type="submit" name="delete" value="Delete">
  </form>
  <br>
  <br>
  <form action='create/' method="post">
    <h4> Create Scenario </h4>
    {% csrf_token %}
    <input class="form-control" name="name" placeholder="scenario name" style="width: auto; margin-right: 10px; display: inline;">
    <input class="btn btn-primary" type="submit" value="Create">
  </form>

{% endblock %}
