{% if scenariolist_list %}
    <p><strong> List of all Scenarios </strong></p>
        <form action='' method="get">
        {% csrf_token %}
        {{ form }}
        <input type="submit" name="action" value="Populate">
    </form>
    <ul>
    {% for sl in scenariolist_list %}
        <li><a href="{{ sl.name}}/">{{ sl.name }}</a></li>
        {% for scenario in sl.scenarios.all %}
            <li><a href="{{ sl.name}}/">{{ sl.name }}</a></li>
        {% endfor %}
    {% endfor %}
    </ul>
{% else %}
    <p>No scenarios are available.</p>
{% endif %}