{% extends 'orcaserver/base.html' %}
{% load bootstrap4 %}

{% block title %}
  Select a scenario
{% endblock %}

{% block content %}

  <form action='' method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    </select>
    <input class="btn btn-primary" type="submit" name="select" value="Select">
    <input class="btn btn-danger" type="submit" name="delete" value="Delete">
  </form>
  <form action='create/' method="post">
    <h4> Create Scenario </h4>
    {% csrf_token %}
    <input name="name" placeholder="scenario name">
    <input class="btn btn-primary" type="submit" value="Create">
  </form>

{% endblock %}
