{% extends 'orcaserver/base.html' %}
{% load bootstrap4 %}

{% block content %}
<div style="max-width: 50em;">
  <h4> Please select the base module <div class="help" style="display: inline;">*</div> </h4>
  <form action='' method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button class="btn btn-primary" type="submit" name="action" title="Activate the module">
      <i class="fa fa-star-o"></i>Activate
    </button>
  </form>
  <div class="help">
    <p style="margin-top: 5em;">
      * Miraculix can be run with different modules. Each module serves different purposes and therefore contains different steps and parameters.
      Please select a module from the dropdown menu "Available modules" to auto-fill the text input "Module path". Press "Select" to <b>activate the module</b>.
    </p>
    <p>
      If you happen to know a module on the server that is not listed by name and path, you may enter the path directly into the text input and press the button.
    </p>
    <p>
      <i>You can turn off these help texts with the switch in the top right corner.</i>
    </p>
  </div>
</div>
{% endblock %}