{% extends 'orcaserver/base.html' %}
{% load static %}

{% block content %}
<h4>Orca Status</h4>
<link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}">
<script src="{% static 'js/datatables.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
{% csrf_token %}
<table class="table table-striped" id="status-table" style="padding: 2em;">
  <thead>
    <tr>
      <th>Module</th>
      <th>Project</th>
      <th>Scenario</th>
      <th>Running</th>
      <th>(Last) Run by</th>
      <th>Start</th>
      <th>Stop</th>
      <th>Success</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<div class="modal fade" id="logs-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Log History</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="logs-body" class="modal-body" style="overflow-y: auto; max-height: calc(100vh - 200px);">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id='reload-logs-button' onclick="reloadLogs()" title="Update Log table" type="button" class="btn btn-primary">Reload</button>
        <button id='clear-logs-button' onclick="clearLogs()" title="Remove all log entries of this scenario from the database" type="button" class="btn btn-danger">Clear</button>
      </div>
    </div>
  </div>
</div>

<script>
  var modal = document.getElementById('logs-modal'),
      logsDiv = document.getElementById('logs-body'),
      csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value,
      reloadButton = modal.querySelector('#reload-logs-button'),
      clearButton = modal.querySelector('#clear-logs-button'),
      logged_scenario;

  function openLogs(scenarioId){
    $(modal).modal();
    logged_scenario = scenarioId;
    reloadLogs();
  }

  function clearLogs(){
    const form = new FormData();
    form.set('clear', true);
    fetch('/logs/' + logged_scenario + '/', {
      method: "POST",
      credentials: "same-origin",
      body: form,
      headers: { "X-CSRFToken": csrfToken }
    }).then(reloadLogs);
  }

  function abort(scenarioId){
    const form = new FormData();
    form.set('clear', true);
    fetch('/steps/abort/' + scenarioId + '/', {
      method: "POST",
      credentials: "same-origin",
      headers: { "X-CSRFToken": csrfToken }
    });
  }

  function reloadLogs(){
    logsDiv.innerHTML = '<h4>Updating...</h4>';
    reloadButton.disabled = clearButton.disabled = true;
    fetch('/logs/' + logged_scenario + '/').then(function(res){
        return res.text()
    }).then(function(html){

        var modalBody = document.getElementById('logs-body');
        modalBody.innerHTML = html;
        var table = modalBody.querySelector('table');
        $(table).DataTable({
          // sort by id when sorting date column
          'aoColumnDefs': [{'aTargets': [0], 'iDataSort': 3 }],
      //    'columnDefs': [{'targets': [3], 'visible': false }],
          'order': [[0, 'desc']]
        });
      reloadButton.disabled = clearButton.disabled = false;
    });
  }

  $(document).ready(function() {
    $.fn.dataTable.ext.errMode = 'none';
    var statusTable = $('#status-table').DataTable( {
      'ajax': {
        url: '/status/list/',
        type: 'GET',
        cache: true,
        dataSrc: 'runs'
      },
      select: true,
      'columns': [
          { 'data': 'module'},
          { 'data': 'project_name'},
          { 'data': 'scenario_name'},
          { 'data': 'is_running'},
          { 'data': 'run_by'},
          { 'data': 'started'},
          { 'data': 'finished'},
          { 'data': 'success'}
      ],
      'rowCallback': function(row, data, index){
        if (data['is_running'] == false){
          var color = (data['success'] == true) ? 'green' : 'red',
              cell = $(row).find('td:eq(7)');
          //cell.css('background', color);
          //cell.css('color', 'white');
          cell.css('color', color);
        }
        var button = document.createElement('button'),
            cell = document.createElement('td');
        row.append(cell)
        button.innerHTML = 'Log';
        button.addEventListener('click', function(){
          openLogs(data['scenario_id']);
        })
        button.classList.add('btn', 'btn-primary');
        cell.append(button);

        cell = document.createElement('td');
        button = document.createElement('button');
        button.innerHTML = 'Abort';
        button.addEventListener('click', function(){
          abort(data['scenario_id']);
        })
        button.classList.add('btn', 'btn-danger');
        button.style.display = data['is_running'] ? 'block' : 'None';
        cell.append(button);
        row.append(cell);
      },
      searching: false,
      paging: false,
      info: false,
      autoWidth: true
    });

    setInterval(function(){
      statusTable.ajax.reload();
      //statusTable.columns.adjust();
      }, 10000);
  });

</script>
{% endblock %}

