{% extends 'orcaserver/base.html' %}
{% load static %}

{% block content %}
<h4>Orca Status</h4>
<link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}">
<script src="{% static 'js/datatables.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<table class="table table-striped" id="status-table" style="padding: 2em;">
  <thead>
    <tr>
      <th>Module</th>
      <th>Project</th>
      <th>Scenario</th>
      <th>Running</th>
      <th>Run by</th>
      <th>Start</th>
      <th>Stop</th>
      <th>Success</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<div class="modal fade" id="logs-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Log History</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="logs-body" class="modal-body" style="overflow-y: auto; max-height: calc(100vh - 200px);">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button onclick="reloadLogs()" type="button" class="btn btn-primary">Reload</button>
      </div>
    </div>
  </div>
</div>

<script>
  var modal = document.getElementById('logs-modal'),
      logsDiv = document.getElementById('logs-body'),
      logged_scenario;

  function openLogs(scenarioId){
    $(modal).modal();
    logged_scenario = scenarioId;
    reloadLogs();
  }

  function reloadLogs(){
    logsDiv.innerHTML = '<h4>Updating...</h4>';
    fetch('/logs/' + logged_scenario).then(function(res){
        return res.text()
    }).then(function(html){
        var modalBody = document.getElementById('logs-body');
        modalBody.innerHTML = html;
        var table = modalBody.querySelector('table');
        $(table).DataTable({
          // sort by id when sorting date column
          'aoColumnDefs': [{'aTargets': [0], 'iDataSort': 3 }],
          'columnDefs': [{'targets': [3], 'visible': false }],
          'order': [[0, 'desc']]
        });
    });
  }

  $(document).ready(function() {
    var statusTable = $('#status-table').DataTable( {
      'ajax': {
        url: '/status/list',
        type: 'GET',
        cache: true,
        dataSrc: 'runs'
      },
      select: true,
      'columns': [
          { 'data': 'module'},
          { 'data': 'project_name'},
          { 'data': 'scenario_name'},
          { 'data': 'is_running'},
          { 'data': 'run_by'},
          { 'data': 'started'},
          { 'data': 'finished'},
          { 'data': 'success'}
      ],
      'rowCallback': function(row, data, index){
        if (data['is_running'] == false){
          var color = (data['success'] == true) ? 'green' : 'red',
              cell = $(row).find('td:eq(7)');
          //cell.css('background', color);
          //cell.css('color', 'white');
          cell.css('color', color);
          var button = document.createElement('button'),
              cell = document.createElement('td');
          row.append(cell)
          button.innerHTML = 'Log';
          button.addEventListener('click', function(){
            openLogs(data['scenario_id']);
          })
          button.classList.add('btn', 'btn-primary');
          cell.append(button);
        }
      },
      searching: false,
      paging: false,
      autoWidth: true
    });

    setInterval(function(){
      statusTable.ajax.reload();
      //statusTable.columns.adjust();
      }, 10000);
  });

</script>
{% endblock %}

