{% extends 'orcaserver/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
  {% if request.session.scenario %}
    Steps
  {% else %}
    No scenario selected
  {% endif %}
{% endblock %}


{% block left-content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}">
<div class="col-md-3" style="padding: 2em;">
{% if steps_available %}
  <h6>available</h6>
  <div style="max-height: 800px; overflow-y: scroll;">
    <table class="table" id="steps-available">
      <thead>
        <tr>
          <th>Group</th>
          <th>Name</th>
          <th>Description</th>
          <th>Module</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for group, steps in steps_available.items %}
        {% for step in steps %}
          <tr onclick="highlightRow(this)" data-step="{{ step.name }}">
            <td style="background-color: Snow {% if not forloop.last %} ;border-bottom-style: hidden" {% endif %}"> {% if forloop.first %} <b>{{ group }}</b> {% endif %} </td>
            <td> {{ step.name }} </td>
            <td> {{ step.description }} </td>
            <td> {{ step.module }} </td>
          </tr>
        {% endfor %}
      {% endfor %}
      </tbody>
    </table>
  </div>
  <form action='' method="post" style="float: right; margin-top: 10px;">
    {% csrf_token %}
    <input type='hidden' name="steps" id="selected-steps">
    <input class="btn btn-secondary" type="submit" name='add' value="Add >>"/>
  </form>
{% endif %}
</div>
{% endblock %}

{% block right-content %}
<div class="col-md-3" style="padding: 2em;">
  <h5> Log </h5>
  <textarea id="wslog" style="width: 100%; height: 30em;"></textarea>
  <button onclick="clearLog()" class="btn btn-secondary" style="margin: 10px; float: right;">Clear</button>
  <script>
    var chatSocket = new WebSocket(
        'wss://' + window.location.host + '/ws/log/orca/'),
        logArea = document.querySelector('#wslog');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        logArea.value += (message + '\n');
        logArea.scrollTop = logArea.scrollHeight;
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    function clearLog(){ logArea.value = '' };

  </script>
</div>
{% endblock %}

{% block content %}
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
{% if steps_available %}
  <h6 style="float: left;">in scenario</h6> &nbsp;&nbsp;(change order by dragging and dropping)
  <table class="table" id="steps-scenario">
    <thead>
      <tr>
        <th class="index">No.</th>
        <th style="display: none;">ID</th>
        <th>Name</th>
        <th>Injectables</th>
        <th>Started</th>
        <th>Finished</th>
        <th>Success</th>
        <th>Active</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
    {% for step in steps_scenario %}
      <tr data-id="{{ step.id }}">
        <td class="index"> {{ forloop.counter0 }} </td>
        <td style="display: none;"> {{ step.id }} </td>
        <td> {{ step.name }} </td>
        <td class="injectables"> {{ step.injectables }} </td>
        <td class="start"> {{ step.started }} </td>
        <td class="finish"> {{ step.finished }} </td>
        <td class="success"> {{ step.success }} </td>
        <td class="is_active">
          <label>
            <input type="checkbox" {% if step.active %} checked {% endif %} id="toggle-active" onclick="toggleActiveRow(this, {{ step.id }})" style="transform: scale(2); margin: 0.5em;">
          </label>
        </td>
        <td>
          <form action='' method="post">
            {% csrf_token %}
            <input type="hidden" name="step" value="{{step.id}}">
            <input title="Remove Step" type="submit" name="remove" class="btn btn-outline-danger" value="X" style="padding: .35rem .6rem; line-height: 1;">
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <button type="submit" onclick="runScenario()" class="btn btn-primary" style="float: right;">Run Steps</button>
{% else %}
<p>no steps available</p>
{% endif %}

<script>
  var stepsTable = document.getElementById('steps-scenario'),
      stepsAvailableTable = document.getElementById('steps-available'),
      stepsUrl = '/steps/list/',
      stepUrl = '/steps/',
      stepDetailUrl = '/steps/detail/',
      csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value,
      stepsInput = document.getElementById('selected-steps');

  // highlight row in table on click
  function highlightRow(target){
    target.classList.toggle('selected');
    var inputStr = '';
    for(row of stepsAvailableTable.rows){
      if (row.classList.contains('selected')){
        var step = row.dataset['step'];
        inputStr += step + ',';
      }
    }
    stepsInput.value = inputStr;
  }

  // toggle is_active in row
  function toggleActiveRow(checkbox, stepId){
      var data = {is_active: checkbox.checked};
      fetch(stepDetailUrl+stepId+'/', {
        method: "PATCH",
        body: JSON.stringify(data),
        credentials: "same-origin",
        headers: { "X-CSRFToken": csrfToken }
      });
  }

  function runScenario(){
    updateStatus().then(function(res){
      if (!res.running){
          fetch('/steps/run/', {
              method: "POST",
              credentials: "same-origin",
              headers: { "X-CSRFToken": csrfToken }
            });
        }
      else alert('Orca is already running! Abort it or wait.')
    })
  }

  // fetch and update steps in table
  function updateSteps(){
    fetch(stepsUrl).then(data=>{return data.json()}).then(function(res){
      res.forEach(function(step){
        var row = stepsTable.querySelector('tr[data-id="' + step.id + '"]'),
            injCell = row.querySelector('.injectables'),
            startCell = row.querySelector('.start'),
            finishCell = row.querySelector('.finish'),
            successCell = row.querySelector('.success');
        injCell.innerHTML = '';
        startCell.innerHTML = step.started;
        finishCell.innerHTML = step.finished;
        successCell.innerHTML = step.success;
        step.injectables.forEach(function(inj){
          var inj_a = document.createElement('a'),
              content = document.createElement('div'),
              url= inj.url + '?next={{request.path}}';
          inj_a.text = inj.name;
          inj_a.href = url;
          content.innerHTML = ''; //( ' + inj.value + ' )';
          content.prepend(inj_a);
          injCell.appendChild(content);
        });
      })
    })
  }

  //drag and drop of table rows
  function tableDnD(){
    function fixHelperModified(e, tr) {
      var $originals = tr.children();
      var $helper = tr.clone();
      $helper.children().each(function(index) {
          $(this).width($originals.eq(index).width())
      });
      return $helper;
    };
    function updateOrder(e, ui) {
      var data = [],
          rows = stepsTable.querySelectorAll('tbody tr'),
          i = 0;
      rows.forEach(function(row){
        var index = row.querySelector('.index'),
            id = row.dataset['id'];
        index.innerHTML = i;
        i += 1;
        data.push({ id: id, order: i})
      })
      fetch(stepsUrl, {
        method: "POST",
        body: JSON.stringify(data),
        credentials: "same-origin",
        headers: { "X-CSRFToken": csrfToken }
      });
    };

    $("#steps-scenario tbody").sortable({
      helper: fixHelperModified,
      stop: updateOrder
    }).disableSelection();

  }

  (function() {
    // periodically update steps and their progress
    //updateSteps();
    //setInterval(updateSteps, 100000);
    //tableDnD();
  })();
</script>
{% endblock %}
