{% extends 'orcaserver/base.html' %}
{% load bootstrap4 %}

{% block title %}
  List of all Steps
{% endblock %}

{% block content %}
  {% if step_dict %}
    <form action='' method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input type="submit" name="action" value="Populate" class="btn btn-primary">
      <input type="submit" name="action" value="Save" class="btn btn-primary">
      <input type="submit" name="action" value="Load" class="btn btn-primary">
    </form>
    <ul>
    {% for name, step in step_dict.items %}
      <li><a href="{{ name }}/">{{ name }}: {{ step }}</a></li>
    {% endfor %}
    </ul>
  {% else %}
    <p>No steps are available.</p>
  {% endif %}
  <input type="submit" name="action" value="Run" class="btn btn-primary">
{% endblock %}
