{% extends 'orcaserver/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
  Steps
{% endblock %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/steps.css' %}">
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.min.js' %}"></script>
  {% if steps_available %}
  <form action='' method="post">
    <div class="row">
      {% csrf_token %}
      <div class="col-md-auto">
        <h6>available</h6>
        <select id="steps-available" multiple>
        {% for name, step in steps_available.items %}
          <option>{{ name }}</option>
        {% endfor %}
        </select>
      </div>
      <input type="hidden" name="add_steps" id="add-steps">
      <div class="col-md-auto">
        <div id="btn-grp">
          <input name="add" type="submit" value="&#8594;" title='add selected steps to scenario'>
          <br>
          <input style="margin-top: 5px;" name="remove" type="submit" value="&#8592;" title='remove selected steps from scenario'>
        </div>
      </div>
      <div class="col-md-auto">
        <h6>in scenario</h6>
        <table class="table" id="steps-scenario">
          <thead>
            <tr>
              <th class="index">No.</th>
              <th style="display: none;">ID</th>
              <th>Name</th>
              <th>Started</th>
              <th>Finished</th>
              <th>Success</th>
              <th>Active</th>
            </tr>
          </thead>
          <tbody>
          {% for step in steps_scenario %}
            <tr onclick="highlightRow(this)" data-id="{{ step.id }}">
              <td class="index"> {{ forloop.counter0 }} </td>
              <td style="display: none;"> {{ step.id }} </td>
              <td> {{ step.name }} </td>
              <td class="start"> {{ step.started }} </td>
              <td class="finish"> {{ step.finished }} </td>
              <td class="success"> {{ step.success }} </td>
              <td class="is_active">
                <label>
                  <input type="checkbox" {% if step.active %} checked {% endif %} id="toggle-active" onclick="toggleActiveRow(this, {{ step.id }})">
                </label>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <input type="submit" name="run" class="btn btn-primary" value="Run">
        <input type="hidden" name="selected_steps" id="remove-steps">
      </div>
    </div>
  </form>
  {% else %}
  <p>no steps available.</p>
  {% endif %}

<script>
  var stepsTable = document.getElementById('steps-scenario'),
      stepsUrl = '/steps/list/',
      stepUrl = '/steps/',
      stepDetailUrl = '/steps/detail/',
      csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

  // highlight row in table on click
  function highlightRow(target){
    var input = document.getElementById('remove-steps');
    target.classList.toggle('selected');
    var inputStr = '';
    for (var i = 0; i < stepsTable.rows.length; i++){
      var row = stepsTable.rows[i];
      if (row.classList.contains('selected')){
        var id = row.dataset['id'];
        inputStr += id + ',';
      }
    }
    input.value = inputStr;
  }

  // toggle is_active in row
  function toggleActiveRow(checkbox, stepId){
      console.log(checkbox)
      var data = {is_active: checkbox.checked}
      console.log(data)
      fetch(stepDetailUrl+stepId+'/', {
        method: "PATCH",
        body: JSON.stringify(data),
        credentials: "same-origin",
        headers: { "X-CSRFToken": csrfToken }
      });
  }

  // fetch and update steps in table
  function updateSteps(){
    fetch(stepsUrl).then(data=>{return data.json()}).then(function(res){
      res.forEach(function(step){
        var row = stepsTable.querySelector('tr[data-id="' + step.id + '"]'),
            startCell = row.querySelector('.start'),
            finishCell = row.querySelector('.finish'),
            successCell = row.querySelector('.success');
        startCell.innerHTML = step.started;
        finishCell.innerHTML = step.finished;
        successCell.innerHTML = step.success;
      })
    })
  }

  //drag and drop of table rows
  function tableDnD(){
    function fixHelperModified(e, tr) {
      var $originals = tr.children();
      var $helper = tr.clone();
      $helper.children().each(function(index) {
          $(this).width($originals.eq(index).width())
      });
      return $helper;
    };
    function updateOrder(e, ui) {
      var data = [],
          rows = stepsTable.querySelectorAll('tbody tr'),
          i = 0;
      rows.forEach(function(row){
        var index = row.querySelector('.index'),
            id = row.dataset['id'];
        index.innerHTML = i;
        i += 1;
        data.push({ id: id, order: i})
      })
      console.log(data)
      fetch(stepsUrl, {
        method: "POST",
        body: JSON.stringify(data),
        credentials: "same-origin",
        headers: { "X-CSRFToken": csrfToken }
      });
    };

    $("#steps-scenario tbody").sortable({
      helper: fixHelperModified,
      stop: updateOrder
    }).disableSelection();

  }

  (function() {

    var select = document.getElementById('steps-available'),
        input = document.getElementById('add-steps'),
        stepsTable = document.getElementById('selected-steps');
    select.addEventListener('change', function(){
      var inputStr = '';
      for (var i=0; i < this.selectedOptions.length; i++) {
        var selected = select.selectedOptions[i];
        inputStr += selected.value + ',';
      }
      input.value = inputStr;
    })

    // periodically update steps and their progress
    updateSteps();
    setInterval(updateSteps, 2000);

    tableDnD();
  })();
</script>
{% endblock %}
